/* TABLE OF CONTENTS
==================================================
#Site Styles
#Page Styles
#Media Queries
#Font-Face */
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* # SITE STYLES
================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  width: 100%; }

body {
  font-family: "Arvo", Helvetica, sans-serif;
  font-size: 13pt;
  line-height: 1.45em;
  background-color: white;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

h5 {
  font-size: 1.25em; }

a, a:visited {
  color: steelblue;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  a:hover, a:visited:hover {
    color: #0d1821;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }

/* Colors
=========================== */
.dots {
  background-image: url(".../img/bg2.gif"); }

.steelblue {
  background-color: steelblue; }

.silver {
  background-color: silver; }

.white {
  background-color: white; }

.yellow {
  background-color: yellow; }

/* OPTIONS
=========================== */
.center, .portfolio p {
  text-align: center; }

.right {
  text-align: right; }

.padding, .index-right-column {
  padding: 10px; }

.fixed {
  height: 80%; }

.band {
  width: 100%;
  background-color: #ededed;
  padding: 2em 0 8em 0;
  color: #878787; }

.uppercase, .portfolio p, nav {
  text-transform: uppercase; }

.none {
  display: none; }

.hidden {
  visibility: hidden; }

.bold, .portfolio p {
  font-weight: 900; }

.arvo, h1, h2, h3, h4, h5 {
  font-family: Arvo, Times, serif; }

.montserrat, .portfolio p, nav {
  font-family: Montserrat, Helvetica, sans-serif; }

.float-right, nav ul li {
  float: right; }

.float-left, nav .title a {
  float: left; }

.visible {
  display: inherit !important; }

.remove-right {
  padding-right: 0;
  padding-top: 0; }

.remove-bottom {
  margin-bottom: 0px; }

.mobile {
  display: inherit; }

hr {
  width: 100%;
  border: 1px solid black; }

.img-band {
  width: 100%;
  height: 30%; }

#blobby {
  background: url("img/dailygifs/blob_2.gif"); }

img.scale-with-grid2 {
  max-width: 100%;
  height: auto; }

.strike {
  text-decoration: line-through;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .strike:hover {
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }

.index-right-column {
  padding-right: 0px;
  padding-top: 0px; }
  .index-right-column li {
    margin-bottom: .45em; }

.caption, .index-right-column {
  font-size: 10pt;
  line-height: 1.45em; }
  .caption p, .index-right-column p {
    margin-bottom: .5em; }
  .caption hr, .index-right-column hr {
    margin-bottom: .5em; }
  .caption li, .index-right-column li {
    margin-bottom: .2em; }

.opacity-fade a > img {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out; }
  .opacity-fade a > img:hover {
    opacity: 0.65; }

.resume-pdf {
  background-color: lavender;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out; }
  .resume-pdf:hover {
    background-color: lightblue;
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out; }

.portfolio p {
  line-height: 1.25em;
  font-size: 0.75em;
  letter-spacing: 0.15em; }
.portfolio img {
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .portfolio img:hover {
    opacity: 0.65; }

.chart > div {
  font: 10pt sans-serif;
  background-color: #d7e4ef;
  padding: 3px;
  margin: 5px 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .chart > div:hover {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-color: #b2cce1; }

.resume-title {
  margin: 0;
  color: steelblue;
  font-weight: bold;
  padding: 0; }

#history strong a, #history strong a:visited {
  color: black;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  #history strong a:hover, #history strong a:visited:hover {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: steelblue; }

#animore-full,
#edgeware-full,
#eggbaby-full {
  display: none; }

/* NAV STYLES
==================================================*/
nav {
  letter-spacing: 0.25em; }
  nav .title a {
    color: black; }
  nav ul li {
    font-size: 1rem;
    margin-right: 0.25em;
    display: inline;
    list-style: none; }
    nav ul li:last-child {
      margin-right: 0; }
    nav ul li a, nav ul li a:visited {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      transition: all 1s;
      font-weight: 400;
      color: steelblue; }
      nav ul li a:hover, nav ul li a:visited:hover {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
        color: #0d1821; }

footer p, footer ul {
  font-size: smaller;
  line-height: 1.75em; }
footer hr {
  border-weight: 1px;
  border-color: rgba(135, 135, 135, 0.25); }
footer a:link, footer a:visited {
  font-family: inherit;
  line-height: 1.75em;
  color: #878787;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }
  footer a:link:hover, footer a:visited:hover {
    color: #080808;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s; }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .mobile {
    display: none; } }
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .mobile {
    display: none; } }
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
	Just create a "fonts" folder at the root,
	copy your FontName into code below and remove
	comment brackets */
/*	@font-face {
    font-family: 'FontName';
    src: url('../fonts/FontName.eot');
    src: url('../fonts/FontName.eot?iefix') format('eot'),
         url('../fonts/FontName.woff') format('woff'),
         url('../fonts/FontName.ttf') format('truetype'),
         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal; }
*/
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local("Arvo"), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/BM-nqL-L5PgjKPDNaleWB_esZW2xOQ-xsNqO47m55DA.woff) format("woff"); }

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local("Arvo Bold"), local("Arvo-Bold"), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/_OKjjqM9ed2qvTR07QdjWwLUuEpTyoUstqEm5AMlJo4.woff) format("woff"); }
