
/* TABLE OF CONTENTS
==================================================
#Site Styles
#Page Styles
#Media Queries
#Font-Face */


//INCLUDES ==================================================
@import 'bourbon/bourbon';
@import 'scss/base';
@import 'scss/skeleton';
@import 'scss/slick';
@import 'scss/lightbox';
@import 'scss/tooltipster';
// @import 'scss/responsive-indicator';
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

// VARIABLES ==================================================
$bkg-color: white;
$txt-color: lighten(black,20%);
$link-color: steelblue;
$footer-color: darken($bkg-color,7%);
$footer-text-color: darken($footer-color,40%);
$link-hover-color: darken($link-color,40%);

$font-size: 13pt;
$line-height: 1.45em;
$caption-font-size: 10pt;
$body-font: "Arvo";

$desktop-large: "only screen and (min-width: 960px)";
$desktop: "only screen and (max-width: 959px)";
$tablet-portrait: "only screen and (min-width: 768px) and (max-width: 959px)";
$mobile: "only screen and (max-width: 767px)";
$mobile-landscape: "only screen and (min-width: 480px) and (max-width: 767px)";
$mobile-portrait: "only screen and (max-width: 479px)";


// MIXIN ==================================================
@mixin color-options($color) {
	.#{$color}	{ background-color: #{$color}; }
}

/* # SITE STYLES
================================================== */

* {	@include box-sizing(border-box); }

body, html { width: 100%; }
body { 
	font-family: $body-font, Helvetica, sans-serif;
	font-size: $font-size;
	line-height: $line-height;
	background-color: $bkg-color; 
	color: $txt-color;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-text-size-adjust: 100%;	
	margin-top: 70px;
}
h1, h2, h3, h4, h5 {
	@extend .arvo;
}

h5 {
	font-size: 1.25em;
}
a,a:visited {
	color: $link-color;
	text-decoration: none;
	@include transition( all 0.25s ease-in-out );
	&:hover { 
		color: $link-hover-color;
		@include transition( all 0.25s ease-in-out );
	}
}

/* Colors
=========================== */

.dots 				{ background-image: url('.../img/bg2.gif');	}
@each $color in steelblue, silver, white, yellow, whitesmoke, greenyellow, lavender {
	.#{$color} { background-color: #{$color}; }
}

/* OPTIONS
=========================== */

.center 			{ text-align: center; }
.right 				{ text-align: right; }
.padding 			{ padding: 10px; }
.fixed 				{ height: 80%; }
.band 				{ width: 100%; background-color: $footer-color; padding: 2em 0 8em 0; color: $footer-text-color; }
.navband			{ width: 100%; }
.uppercase			{ text-transform: uppercase; }
.none 				{ display: none; }
.hidden 			{ visibility: hidden; }
.bold 				{ font-weight: 900; }
.arvo 				{ font-family: Arvo, Times, serif; }
.montserrat 		{ font-family: Montserrat, Helvetica, sans-serif; }
.float-right 		{ float: right; }
.float-left 		{ float: left; }
.last 				{ margin-right: 0px; }
.visible 			{ display: inherit !important }
.remove-right 		{ padding-right: 0; padding-top: 0;}
.remove-bottom 		{ margin-bottom: 0px; }
.remove-top 		{ margin-top: 0px; }
.nolist 			{ list-style: none; }
.nowrap 			{ white-space: nowrap; }

.mobile 			{ display: none; } 
.desktop 			{ display: inherit; }


.list-spacing-fix li	{ margin-bottom: 0.15em !important; }

hr { 
	// width: 100%; border: 1px solid black; 
}
hr { 
	border: 0;
	height : 15px;
	background: url('../img/bg/dots.gif') repeat-x;
	margin : 1em 0;
}

.img-band 		{ width: 100%; height: 30%; }

#blobby 			{ background: url('img/dailygifs/blob_2.gif')	}


img.scale-with-grid2 { max-width: 100%; height:auto }

.strikeout {
	position: relative;
	&:after {
		@include transition( all 0.75s ease-in-out );
	    border-bottom: 3px solid rgba(steelblue,0.5);
	    content: "";
	    left: -10px;
	    position: absolute;
	    right: -10px;
	    top: 50%;
	}
}

.underline {
	// position: relative;
    border-bottom: 3px solid rgba(steelblue,0.35);
	@include transition( all 0.25s ease-in-out );
    &:hover {
		@include transition( all 0.25s ease-in-out );
    	border-bottom: 3px solid rgba(steelblue,1);

    }
	// &:after {
	//     content: "";
	//     left: -10px;
	//     position: absolute;
	//     right: -10px;
	//     top: 50%;
	// }
}

.caption {
	font-size: $caption-font-size !important;
	line-height: 1.45em;
	list-style: none;
	p { margin-bottom: .5em; }
	hr { margin-bottom: .5em; }
}

.index-right-column {
	@extend .padding;
	@extend .caption;
	padding-right: 0px;
	padding-top: 0px;
	hr:first-child { margin-top: 0; }
	ul, li { margin-bottom: 0.5em; }
	@media #{$mobile} {
		padding-left: 0px;
	}
}

.opacity-fade {
	a > img {
		@include transition( opacity 0.25s ease-in-out ); 
		&:hover { opacity: 0.65; }
	}
}

.textbox {
	padding: 2em 3em;
	h4 { font-weight: 400 !important; }
	@media #{$mobile} {
		font-size: 12px;
		padding: 2em 2em 1em 2em;
	}
}

.related {
	font-size: 90%;
	line-height: 1.4em;
	li {
		margin-bottom: 0.4em;
	}
}

.description {
	a {  
		// @extend .underline;
	}
	p {
	font-size: 16pt;
	line-height: 1.5em;
	}
}

// HEADER
// ========================

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: $bkg-color;
	padding: 25px 0 10px 0;
	font-size: 14pt;
	@include transition( all 0.75s ease-in-out );
	
	.active {
		border-bottom: 3px solid lighten($link-color,30%);
		padding: 5px 1px;
		color: black;
		@include transition( all 0.75s ease-in-out );
		&:hover {
			@include transition( all 0.75s ease-in-out );
			border-bottom: 3px solid lighten($link-color,20%);
		}

	}

	nav {
		@extend .uppercase;
		@extend .montserrat;
		letter-spacing: 0.15em;

		.title {
			font-size: 25px;
			text-align: left;
			float: left;
			@media #{$mobile} {
				font-size: 1.25rem;
			}

			a, a:visited { 
				color: black; 
				&:hover {
					color: gray;
				}
			}
		}
		ul {
			text-align: right;

			li {
				font-size: 1rem;
				display: inline;
				list-style: none;
				margin-right: 2em;
				@media #{$mobile} { 
					font-size: 0.9rem;
					margin-right: 0.25em;
				}
				&:last-child { margin-right: 0; }
				a, a:visited {
					@include transition(all 0.25s);
					font-weight: 400;
					color: gray;
					&:hover { 
						@include transition(all 0.25s);
						color: black;
					}
				}
			}
		}
	}
}

.headroom--pinned {
	top: 0;
	// transform: translateY( 0% );
}

.headroom--unpinned {
	top: -100px;
	// transform: translateY( -100% );
}

// PORTFOLIO PAGE 
// ======================================

.portfolio {
	p {
		@extend .uppercase;
		@extend .center;
		@extend .montserrat;
		@extend .bold;
		line-height: 1.25em;
		font-size: 0.75em;
		letter-spacing: 0.15em;
		@media #{$mobile} { 
			font-size: 1em;
		}		
	}	
	img {
	opacity: 1;
	@include transition( all 0.25s ease-in-out );
	&:hover { opacity: 0.65; }
	}
}

// ABOUT ME 
// ======================================

.chart > div {
	font: 8pt sans-serif;
	font-weight: bold;
	background-color: lighten(silver,15%);
	padding: 0;
	margin: 0;
	@include transition( all 0.25s ease-in-out );
	
	> div {
		background-color: lighten($link-color,30%);
		margin: 5px 0;
		padding: 4px 0 4px 10px;
	}
	&:hover .inner {
		@include transition( all 0.25s ease-in-out );
		background-color: lighten(silver,10%);
	}
}

.resume-title {
	margin: 0;
	color: steelblue;
	font-weight: bold;
	padding: 0;
}

.resume-pdf {
	background-color: lavender;
	padding:10px;
	width: 50px;
	height: 50px;
	border-radius:5px;
	@include transition( background-color 0.25s ease-in-out ); 
	&:hover { 
		background-color: lightblue; 
		@include transition( background-color 0.25s ease-in-out ); 
	}
}

#history {
	ul { list-style: initial; list-style-position: inside; list-style-type: circle; }
	li { 
		margin-bottom: 0.15em; 
		padding-left: 1em;
		text-indent: -1em;
		max-width: 80%;
		@media #{mobile} { max-width: 100%; }
	}

	strong a, strong a:visited {
		color: black;
		@include transition( all 0.25s ease-in-out );
		&:hover {
			@include transition( all 0.25s ease-in-out );
			color: $link-color;
		}
	}
}

#animore-full, 
#edgeware-full,
#eggbaby-full
{ display: none; }


// FOOTER
// =====================================

footer {

	p, & ul {
		font-size: smaller;
		line-height: 1.75em;
		margin-bottom: 0.25em;
	}

	li {
		margin-bottom: 0.25em;
	}

	a:link, a:visited {
		font-family: inherit;
		line-height: 1.75em;
		color: $footer-text-color;
		@include transition(all 1.0s);
		&:hover { 
			color: darken($footer-text-color,50%); 
			@include transition(all 1.0s);
		}
	}
}

/* #Media Queries
================================================== */

	/* Larger than 960px (devices and browsers) */
  @media only screen and (min-width: 960px) { 
  }

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) { 
  }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) { 
  }

	/* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) { 
  	.mobile  { display:inherit; }
  	.desktop { display:none; }  }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) { 
  	.mobile  { display:inherit; }
  	.desktop { display:none; }
  }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) { 
  	.mobile  { display:inherit; }
  	.desktop { display:none; }
  }


// added to test google fonts when offline

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/BM-nqL-L5PgjKPDNaleWB_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/_OKjjqM9ed2qvTR07QdjWwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
