
/* TABLE OF CONTENTS
==================================================
#Site Styles
#Page Styles
#Media Queries
#Font-Face */


//INCLUDES ==================================================
@import 'bourbon/bourbon';
@import 'base';
@import 'skeleton';
@import 'slick';
@import 'lightbox';
@import 'tooltipster';
@import 'responsive-indicator';
@import "compass/css3";
// @import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
// @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

// VARIABLES ==================================================
$primary-color: #0072CE;
// $bkg-color: LightSteelBlue;
$bkg-color: lighten(#F5F8FA,5%);
$txt-color: lighten(black,30%);

$link-color: $primary-color;
$link-hover-color: lighten($link-color,20%);

// $textbox-color: $primary-color;
$textbox-color: LightSkyBlue;
// $textbox-text-color: darken($textbox-color,40%);
$textbox-text-color: white;
$textbox-link-color: $textbox-text-color;
$filter-color: #E1E8ED;

// $footer-color: darken($bkg-color,4%);
$header-color: #F8D31C;
$footer-color: #262c30;
// $footer-text-color: darken($footer-color,50%);
$footer-text-color: #688a9e;

$font-size: 14pt;
$line-height: 1.45em;
$caption-font-size: 11pt;
// $body-font: "Arvo";
$body-font: "Circular";
$header-font: "";
$system-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$desktop-large: "only screen and (min-width: 960px)";
$desktop: "only screen and (max-width: 959px)";
$tablet-portrait: "only screen and (min-width: 768px) and (max-width: 959px)";
$mobile: "only screen and (max-width: 767px)";
$mobile-landscape: "only screen and (min-width: 480px) and (max-width: 767px)";
$mobile-portrait: "only screen and (max-width: 479px)";

$sm: "only screen and (min-width : 480px)";
$md: "only screen and (min-width : 767px)";
$lg: "only screen and (min-width : 992px)";
$xl: "only screen and (min-width : 1200px)";

@media #{$desktop-large} 			{ .mobile {display:none;} 		.desktop {display:inherit;} }
@media #{$desktop} 					{ .mobile {display:none;} 		.desktop {display:inherit;} }
@media #{$tablet-portrait} 		{ .mobile {display:none;} 		.desktop {display:inherit;} }
@media #{$mobile} 					{ .mobile {display:inherit;} 	.desktop {display:none;} }
@media #{$mobile-landscape} 	{ .mobile {display:inherit;} 	.desktop {display:none;} }
@media #{$mobile-portrait} 		{ .mobile {display:inherit;} 	.desktop {display:none;} }



// MIXIN ==================================================
@mixin color-options($color) {
	.#{$color}	{ background-color: #{$color}; }
}

@mixin underline($stroke:3px,$color:$link-color) {
    border-bottom: $stroke solid rgba($color, 0.25);
	@include transition( all 0.25s ease-in-out );
    &:hover {
		@include transition( all 0.25s ease-in-out );
    	border-bottom: $stroke solid rgba($color, 0.5);
    }
}
// .box { @include border-radius(10px); }

/* # SITE STYLES
================================================== */

* { @include box-sizing(border-box); }

body, html { width: 100%; }
body {
	// padding-top: 20px;
	font-family: $body-font, Helvetica, sans-serif;
	font-size: $font-size;
	line-height: $line-height;
	background-color: $bkg-color;
	color: $txt-color;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-text-size-adjust: 100%;
	margin-top: 50px;
	@media #{$md}{
		margin-top: 60px;
	}
}
h1, h2, h3, h4, h5, h6 {
	// @extend .special-font;
	color: $link-color;
}
h1 {
	// @extend .uppercase;
}

h5 {
	font-size: 1.25em;
}
a,a:visited {
	color: $link-color;
	text-decoration: none;
	@include transition( all 0.25s ease-in-out );
	&:hover {
		color: $link-hover-color;
		@include transition( all 0.25s ease-in-out );
	}
}

/* Colors
=========================== */

.dots 				{ background-image: url('.../img/bg2.gif');	}
@each $color in "steelblue", "silver", "white", "yellow", "whitesmoke", "greenyellow", "lavender" {
	.#{$color} { background-color: #{$color}; }
}

/* OPTIONS
=========================== */

.center 				{ text-align: center; }
.right 					{ text-align: right; }
.padding 				{ padding: 10px; }
.fixed 					{ height: 80%; }
.navband				{ width: 100%; }
.uppercase			{ text-transform: uppercase; }
.none 					{ display: none; }
.hidden 				{ visibility: hidden; }
.bold 					{ font-weight: 900; }
.arvo 					{ font-family: Arvo, Times, serif; }
.special-font 		{ font-family: Circular, Helvetica, sans-serif; }
.float-right 		{ float: right; }
.float-left 		{ float: left; }
.last 					{ margin-right: 0px; }
.visible 				{ display: inherit !important }
.red						{ background-color: red; }
.remove-right 	{ padding-right: 0; padding-top: 0;}
.remove-bottom 	{ margin-bottom: 0; }
.remove-top 		{ margin-top: 0px; }
.add-top 				{ margin-top: 100px !important; }
.half-top 				{ margin-top: 40px !important; }
.double-bottom	{ margin-bottom: 60px !important; }
.nolist 				{ list-style: none; }
.nowrap, .nobreak 				{ white-space: nowrap; }
.hide 					{ display: none; }
.photo-outline {border: 1px solid #CCD6DD; padding: 1em; margin-bottom: 15px;}
.thumb-outline { border: 2px solid #CCD6DD; }

.list-spacing-fix li	{
	margin-bottom: 0.35em !important;
	line-height: $line-height;
}

hr {
	border: 0;
	height : 15px;
	background: url('../img/bg/dots.gif') repeat-x;
	margin : 1em 0;
}
hr.separator {
	margin: 30px 0;
	width: 10%;
}

.img-band 		{ width: 100%; height: 30%; }

#blobby 			{ background: url('img/dailygifs/blob_2.gif')	}

img.scale-with-grid2 { max-width: 100%; height:auto }

.strikeout {
	position: relative;
	&:after {
		@include transition( all 0.75s ease-in-out );
	    border-bottom: 3px solid rgba(steelblue,0.5);
	    content: "";
	    left: -10px;
	    position: absolute;
	    right: -10px;
	    top: 50%;
	}
}

.underline {
	// position: relative;
    border-bottom: 3px solid rgba(steelblue,0.25);
	@include transition( all 0.25s ease-in-out );
    &:hover {
		@include transition( all 0.25s ease-in-out );
    	border-bottom: 3px solid rgba(steelblue,0.5);

    }
	// &:after {
	//     content: "";
	//     left: -10px;
	//     position: absolute;
	//     right: -10px;
	//     top: 50%;
	// }
}

.caption {
	font-size: $caption-font-size;
	line-height: $line-height;
	list-style: none;
	p { margin-bottom: .5em; }
	hr { margin-bottom: .5em; }
}

.opacity-fade {
	a > img {
		@include transition( opacity 0.25s ease-in-out );
		&:hover { opacity: 0.65; }
	}
}

// HEADER
// ========================

// .headroom {
	// position: fixed;
	// top: 0;
	// left: 0;
	// right: 0;
	// z-index: 9999;
	// background-color: $bkg-color;
	// padding: 25px 0 10px 0;
	// font-size: 14pt;
	// @include transition( all 0.75s ease-in-out );

	// .active {
	// 	border-bottom: 3px solid lighten($link-color,30%);
	// 	padding: 5px 1px;
	// 	color: black;
	// 	@include transition( all 0.75s ease-in-out );
	// 	&:hover {
	// 		@include transition( all 0.75s ease-in-out );
	// 		border-bottom: 3px solid lighten($link-color,20%);
	// 	}
	// }

	// nav {
		// @extend .uppercase;
		// @extend .special-font;
		// letter-spacing: 0.15em;

		// .title {
		// 	// font-size: 25px;
		// 	// font-weight: 900;
		// 	// text-align: left;
		// 	// float: left;
		// 	// @media #{$mobile} {
		// 	// 	font-size: 1.25rem;
		// 	// }

		// 	// a, a:visited {
		// 	// 	color: black;
		// 	// 	&:hover {
		// 	// 		color: gray;
		// 	// 	}
		// 	// }
		// 	// &::after {
		// 	// 	content: "\2301"; //hexcode of &#8961; http://www.evotech.net/blog/2007/08/css-javascript-character-entities/
		// 	// 	content: "\270F";
		// 	// 	color: red;
		// 	// 	font-size: 150%;
		// 	// 	position: absolute;
		// 	// 	top: -1px;
		// 	// 	margin-left: 8px;
		// 	// }
		// }
		// ul {
		// 	// text-align: right;

		// 	li {
		// 		font-size: 1rem;
		// 		display: inline;
		// 		list-style: none;
		// 		margin-right: 2em;
		// 		@media #{$mobile} {
		// 			font-size: 0.9rem;
		// 			margin-right: 0.25em;
		// 		}
		// 		&:last-child { margin-right: 0; }
		// 		a, a:visited {
		// 			@include transition(all 0.25s);
		// 			font-weight: 900;
		// 			color: gray;
		// 			&:hover {
		// 				@include transition(all 0.25s);
		// 				color: black;
		// 			}
		// 		}
		// 	}
		// }
	// }
// }
// .headroom--pinned {
// 	top: 0;
// 	// transform: translateY( 0% );
// }

// .headroom--unpinned {
// 	top: -100px;
// 	// transform: translateY( -100% );
// }
.navband {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	font-size: 14pt;
	background-color: $header-color;
	padding: 0; margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	@media #{$md}{
		position: fixed;
		padding: 10px 40px 0px 40px;
	}
	@include transition( all 0.75s ease-in-out );
	.active {
		border-bottom: 3px solid black;
		padding: 5px 1px;
		color: black;
		@include transition( all 0.75s ease-in-out );
		&:hover {
			@include transition( all 0.75s ease-in-out );
			border-bottom: 3px solid lighten(white,20%);
		}
	}
	.header {
		@extend .flex-container;
		justify-content: space-between;
		#title {
			font-size: 20px;
			a:link, a:visited {
				color: black;
				font-weight: 900;
				@media #{$md}{
					font-size: 30px;
				}
			}
		}
		#nav {
			display: flex;
			align-items: baseline;
			margin-bottom: 4px;
			text-transform: uppercase;
			@media #{$md}{
				margin-bottom: 6px;
			}
			.nav-item {
				margin-left: 1rem;
				a:link, a:visited {
					font-weight: 900;
					font-size: 15px;
					color: black;
					@media #{$md} {
						font-size: 20px;
					}
				}
			}
			.header-icon {
				display: none;
				img {
					width: 100%;
				}
				@media #{$md} {
					display: inherit;
					height: 20px;
					width: 20px;
				}
			}
			// ul {
			// 	padding: 0; margin: 0;
			// 	li {
			// 		padding: 0; margin: 0;
			// 		margin-bottom: 10px;
			// 		display: inline-block;
			// 		text-transform: uppercase;
			// 		font-weight: 900;
			// 		margin-left: 1em;
			// 		font-size: 15px;
			// 		a:link, a:visited {
			// 			color: black;
			// 			@media #{$md} {
			// 				font-size: 20px;
			// 			}
			// 		}
			// 	}
			// 	.header-icon {
			// 		display: none;
			// 		img {
			// 			height: 16px;
			// 			width: 16px;
			// 		}
			// 		@media #{$md}{
			// 			display: inherit;
			// 		}
			// 	}
			// }
		}
	}
}
// subheader
.back-to-landing-page-menu {
	z-index: 9;
	position: absolute;
	display: flex;
	justify-content: center;
	left: 0;
	top: 0;
	margin-top: 0;
	width: 100%;
	background-color: $footer-color;
	padding: 40px 10px 4px 10px;
	line-height: 1.25em;
	color: white;
	font-size: 15px;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

	strong {
		color: white;
		margin-right: 5px;
	}
	a:link, a:visited {
		color: white;
		opacity: 0.5;
		padding: 0	3px;
		&:hover {
			opacity: 1;
			color: white;
		}
	}
	.active {
		opacity: 1 !important;
		color: white !important;
		@include underline(2px, white);
	}
	@media #{$md} {
		position: fixed;
		padding: 55px 20px 8px 20px;
	}
}

// INDEX
// ======================================
.index-textbox {
	font-size: $font-size;
	margin-top: 30px;
	h1 {
		font-size: 45px;
		font-weight: 400 !important;
		text-transform: inherit;
		color: $txt-color;
		margin-bottom: 30px;
		a:link, a:visited {
			color: $textbox-link-color;
			@extend .underline;
		}
	}
	p {
		color: lighten($txt-color,30%);
		line-height: 1.5em;
		a:link, a:visited {
			color: darken($textbox-color,45%);
			@extend .underline;
		}
	}
	@media #{$md} {
		// line-height: $line-height;
		margin-top: 70px;
		background-color: transparent;
		color: $txt-color;
		font-size: 25px;
		max-width: 90%;
		h1 {
			font-size: 65px;
			color: $txt-color;
		}
		p {
			font-size: 25px;
			max-width: 80%;
		}
		a:link, a:visited {
			color: $link-color;
		}
	}
}

.index-right-column {
	// padding-right: 0px;
	// padding-top: 0px;
	// hr:first-child { margin-top: 0; }
	font-size:0.75em;
	ul, li { margin-bottom: 0; }
	@media #{$mobile} {
		padding-left: 0px;
	}
}

// PORTFOLIO PAGE
// ======================================

.portfolio {
	p {
		@extend .uppercase;
		@extend .center;
		@extend .special-font;
		@extend .bold;
		line-height: 1.25em;
		font-size: 0.75em;
		letter-spacing: 0.15em;
		@media #{$mobile} {
			font-size: 1em;
		}
	}
	img {
		@extend .scale-with-grid2;
		img: 100%;
		opacity: 1;
		@include transition( all 0.25s ease-in-out );
		// &:hover { opacity: 0.65; }
	}
}
.project-details {
	img {width: 100%;}
	h1 {
		font-size: 40px;
		line-height: 1.125em;
		margin-top: -20px;
		@media #{$md} {
			font-size: 45px;
			margin-top: 60px;
		}
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 20px;
		@media #{$md} {
			font-size: 30px;
		}

	}
	p {
		font-size: 80%;
		line-height: 1.65em;
		@media #{$md} {
			font-size: $font-size;
			max-width: 95%;
		}
	}
	.caption {
		font-size: 10px;
		@media #{$sm} {
			font-size: $caption-font-size;
		}
	}
	.intro {
		color: lighten($primary-color,10%);
		font-weight: 900;
		margin-bottom: 2em;
		font-size: 140%;
		line-height: 1.5em;
		max-width: 95%;
	}
	.project-sidebar {
		margin-bottom: 1em;
		p {
			font-size: 70%;
			margin-bottom: 0;
			@media #{$md}{
				font-size: $font-size*.85;
				margin-bottom: 0.1em;
			}
		}
		// border-left: solid 1px black;
		// background-color: #f0f4f6;
		// padding: 1.5em 1.5em 3em 1.5em;
		// margin-bottom: 3em;
		img.logo {
			width: 100%;
			padding: 10px;
			// padding-top: 10px;
		}
		ul.tags {
			font-size: 80%;
			li {
				border-radius: 4px;
				padding: 1px 3px;
				margin-right: 4px;
			}
		}
	}
	.additional-image-slideshow {
		img {
			margin-bottom: 2em;
		}
	}
}
ul.tags {
	margin: 0;
	margin-top: 1em;
	padding: 0;
	li {
		background-color: red;
		display: inline-block;
		margin-right: 1em;
		margin-bottom: 10px;
		background-color: #E1E8ED;
		margin-right: 15px;
		padding: 2px 15px;
		border-radius: 14px;
		a:link, a:visited {
			color: hsla(0, 0%, 30%, 1);
		}
		@include transition( all 0.125s ease-in-out );
		&:hover {
			background-color: darken($filter-color,15%);
			@include transition( all 0.125s ease-in-out );
		}
	}
	li.active {
		background-color: darken($filter-color,15%);
	}
}

.filters {
	// background-color: red;
	display: flex !important;
	width: 100%;
	font-size: 15px;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: -10px;
	.filter-item {
		margin-bottom: 6px;
		margin-right: 6px;
		padding: 0 8px;
		background-color: #E1E8ED;
		border-radius: 20px;
		a:link, a:visited {
			color: hsla(0, 0%, 30%, 1);
		}
	}
	.active {
		background-color: $footer-color;
		a:link, a:visited {
			color: white;
		}
	}
	@media #{$md}{
		font-size: 20px;
		.filter-item {
			padding: 6px 16px;
			margin-right: 10px;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	// ul {
	// 	margin: 0;
	// 	padding: 0;
	// 	text-align: center;
	// 	li {
	// 		display: inline-block;
	// 		// margin-bottom: 10px;
	// 		background-color: #E1E8ED;
	// 		margin-right: 5px;
	// 		padding: 0px 4px;
	// 		// border-radius: 4px;
	// 		a:link, a:visited {
	// 			// margin: 0; padding: 0;
	// 			color: hsla(0, 0%, 30%, 1);
	// 		}
	// 		@include transition( all 0.125s ease-in-out );
	// 		&:hover {
	// 			background-color: darken($filter-color,15%);
	// 			@include transition( all 0.125s ease-in-out );
	// 		}
	// 	}
	// 	li.active {
	// 		background-color: darken($filter-color,15%);
	// 	}
	// }
	// @media #{$md}{
	// 	font-size: inherit;
	// 	ul {
	// 		li {
	// 			padding: 2px 15px;
	// 			border-radius: 14px;
	// 			margin-right: 15px;
	// 		}
	// 	}
	// }
}
.subhead-padding {
	padding-top: 30px;
	@media #{$md}{
		padding-top: 35px;
	}
}

// FLEX
.full-thumbnails {
	display: flex;
	-webkit-display: flex;
	-ms-display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	width: 100%;
	// max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
	.fl-thumb {
		width: 50%;
		position: relative;
		border: 0;
		background-color: black;
		height: 100%;
		line-height: 0;
		font-size: 0;
		margin-bottom: -2px;
		@media (min-width: 768px) {width: calc(100%/3);}
		@media (min-width: 1024px) {width: calc(100%/4); padding: 0;}
		@media (min-width: 1400px) {width: calc(100%/5);}
		@include transition( all 0.25s);
		.title {
			opacity: 0;
			left: 0px;
			top: 0px;
			width: 100%;
			position: absolute;
			z-index: 9;
			color: white;
			line-height: 1em;
			font-size: 30px;
			padding: 0.5em 0.5em 0 0.5em;
			font-weight: 900;
		}
		img {
			width: 100.5%;
			height: 100%;
			opacity: 1;
			line-height: 0;
			font-size: 0;
		}
	}
	.fl-thumb:hover img {
		opacity: 0.25;
		@include transition( all 0.25s);
	}
	.fl-thumb:hover .title {
		opacity: 1;
		@include transition( all 0.25s);
	}
}
.reduce-width {
	max-width: 1000px;
	.fl-thumb {
		@media (min-width: 768px) {width: calc(100%/3);}
		// @media (min-width: 1024px) {width: calc(100%/3);}
		@media (min-width: 1400px) {width: calc(100%/3);}
		.title {
			font-size: 20px;
		}
	}
}
.fl-additional-img {
	width: 100%;
	max-width: 1440px;
	// @media (min-width: 1400px) {max-width: 80%; }
	margin: 0 auto;
	margin-top: 40px;
	// background-color: #F5F8FA;
	display: flex;
	-webkit-display: flex;
	-ms-display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	line-height: 0;
	img {
		width: 100%;
	}
	.small {
		width: calc(100%/2);
		@media (min-width: 600px) {width: calc(100%/4);}
		@media (min-width: 1024px) {width: calc(100%/6);}
		padding: 4px;
	}
	.medium {
		width: calc(100%/2);
		padding: 4px;
		// @media (min-width: 768px) {width: calc(100%/3);}
		@media (min-width: 1024px) {width: calc(100%/3);}
		// @media (min-width: 1400px) {width: calc(100%/4);}
	}
	.large {
		width: calc(100%/2);
		padding: 4px;
		// @media (min-width: 768px) {width: calc(100%/3);}
		@media (min-width: 1024px) {width: calc(100%/3);}
		// @media (min-width: 1400px) {width: calc(100%/4);}
	}
}
.variable-height {
	img {
		width:100%;
		margin: 0 5px 5px 5px;
	}
	width: 100%;
	max-width: 1440px;
	padding: 0 auto;
	line-height: 0;
	width: 100%;
	column-count: 2;
	-webkit-column-count: 2;
	-ms-column-count: 2;
	column-width: auto;
	-webkit-column-width: auto;
	-ms-column-width: auto;
	column-gap: 0;
	-webkit-column-gap: 0;
	-ms-column-gap: 0;
	@media (min-width: 500px) {column-count: 3; -webkit-column-count: 3; -ms-column-count: 3;}
	@media (min-width: 1440px) {column-count: 4; -webkit-column-count: 4; -ms-column-count: 4;}
}
.flex-container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	-webkit-display: flex;
	-ms-display: flex;
	// flex-wrap: wrap;
	// -webkit-flex-wrap: wrap;
	// -ms-flex-wrap: wrap;
}



// HIRE ME
// ======================================

.bar-chart {
	width: 90%;
	// height: 20px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 1em;
	.inner {
		font-size: 8pt;
		font-family: Verdana,sans-serif;
		text-align: center;
		display: inline-block;
		background-color: orange;
		color: black;
		// padding: 0.25em 1em;
		// margin: 0;
		margin-right: -4px; //fixes weird space to the right of the box.
		margin-bottom: 0.5em;
	}
}
.cover-letter {
	h5 {
		margin-top: 1em;
	}
	.landing-page {
		font-size: 22px;
		line-height: 1.5em;
		p {
			@media #{$mobile} {
				font-size: 18px !important;
				line-height: 1.35em;
			}
			a:link, a:visited {
				&:hover {
					@include underline(3px,$primary-color);
				}
				// background-color: #F5F8FA;
				color: $primary-color;
			}
		}
		h1,h2,h3,h4,h5,h6 {
			margin-bottom: 1em;
			// @include underline(3px,$primary-color);
		}
		h1 {
			font-size: 32px;
		}
		h2.heading {
			font-weight: 900;
			font-size: 32px;
			line-height: 1.5em;
			@media #{$mobile}
			 {
				font-size: 25px;
				line-height: 1.35em;
			}
			.job-title {}
		}
		h3 {
			font-size: 25px;
			margin-top: 2em;
		}
		img {
		  display: block;
		  margin-bottom: 8px;
		}
		.date {
			margin-top: 70px;
			a:link, a:visited {
				background-color: $bkg-color;
				color: $txt-color;
			}
		}
		.tooltip {
			color: $link-color;
		}
		.sample-projects {
			margin-top: 2em;
		}
		.checklist {
			li {margin-bottom: 0;}
			@media only screen and (min-width: 800px) {
				@include column-count(2);
				@include column-gap(1em);
			}
		}
		ul.skills {
			li {
				font-size: 0.75em;
				display: inline-block;
				background-color: #E1E8ED;
				margin-right: 15px;
				padding: 1px 13px;
				border-radius: 14px;
				margin-bottom: 0.5em;
				@include transition( all 0.125s);
				&:hover {
					@include transition( all 0.125s);
					background-color: #CCD6DD;
				}
				a:link, a:visited {
					color: black;
				}
				@media #{$mobile} {
					font-size: 14px;
					padding: 0px 10px;
					margin-right: 5px;
				}
			}
		}
		.button {
			margin-top: 3em;
			background-color: #24B273;
			border-radius: 10px;
			border: 0;
			border-bottom: 4px solid darken(#24B273,10%);
			font-size: 18px;
			padding: 5px 15px;
			margin-right: 10px;
			display: inline-block;
			position: relative;
			a:link, a:visited {
				color: white;
			}
			&:hover {
				top: 1px;
				border-width: 2px;
				background-color: lighten(#24B273,5%);
			}
		}
		.original-job-button-minimal {
			margin-top: 2em;
			display: inline-block;
			font-size: 16px;
			color: darken($bkg-color,10%);
			// @include underline();
		}
	}
	.sidebar {
		.logo {
			width: 100%;
			padding: 2em;
			// padding-top: em;
		}
		img.portrait {
			width: 100%;
		}
		h6 {
			margin-top: 1em;
			font-weight:900;
			font-size: 120%;
		}
	}
}
.quick-bio {
	width: 100%;
	padding-top: 3em;
	img.portrait {
		@media #{$mobile} {
			max-width: 50% !important;
		}
	}
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f8fa+0,ffffff+46 */
	background: #f5f8fa; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f8fa 0%, #ffffff 46%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f5f8fa 0%,#ffffff 46%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f5f8fa 0%,#ffffff 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f8fa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

// $icon-width: 150px;

.space-page {
	h5 {
		padding-top: 2em;
	}
	img {
		margin-bottom: 1em;
		border: 1px solid silver;
	}
}

.original-job-button {
	background-color: $link-color;
	color: white;
	padding: 0.25em;
	margin: 0 auto;
	margin-bottom: 20px;
	// margin-top: 20px !important;
	border-radius: 0.5em;
	width: 200px;
	text-align: center;
	@extend .uppercase;
	@extend .special-font;
	&:hover {
		background-color: $link-hover-color;
	}
}

.original-job-details {
	color: lighten($txt-color,30%);
	margin-top: 1em;
	p,ul,li {font-size: 1rem;}
	hr,ul,h1,h2,h3,h4,h5,h6 { @include column-span(all); }
	h1,h2,h3,h4,h5,h6 {
		color: black;
		margin-top: 1em;
	}
	h2,h3,h4,h5,h6 {
		color: hsla(0, 0%, 40%, 1)
	}
	em {
		// text-decoration: underline;
		font-style: normal;
		background-color: yellow;
	}
	h6,hr {
		margin: 2em 0;
		text-align: center;
	}
	line-height: 1.15em;
	ul {
		font-weight: 800;
		li {
			 list-style-type: circle;
			 line-height: 1.2em;
		}
	}
	@media only screen and (min-width: 800px) {
		@include column-count(2);
		@include column-gap(1em);
	}
}

.related {
	font-size: 90%;
	line-height: 1.4em;
	li {
		margin-bottom: 0.4em;
	}
}

.description {
	a:link, a:visited {
		// @extend .underline;
	}
	p {
		// font-size: $font-size;
		line-height: 1.5em;
		max-width: 95%;
		// margin-bottom: 1em;
	}
}

// CHART CSS
.chart > div {
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: 700;
	letter-spacing: 0.5px;
	background-color: lighten(silver,15%);
	padding: 0;
	margin: 0;
	@include transition( all 0.5s ease-in-out );

	> div {
		@include transition( all 0.5s ease-in-out );
		background-color: lighten($link-color,40%);
		margin: 2px 0;
		padding: 2px 0 2px 10px;
	}
	&:hover .inner {
		@include transition( all 0.5s ease-in-out );
		background-color: lighten($link-color,40%);
	}
}

// ABOUT ME
// ======================================

.resume {
	font-size: 90%;
	// line-height: 1.25em;


	.tech-skills > div {
		font: 8pt sans-serif;
		font-weight: bold;
		background-color: lighten(steelblue,35%);
		padding: 4px;
		margin: 4px 0;
		@include transition( all 0.25s ease-in-out );

		> div {
			background-color: lighten($link-color,30%);
			margin: 5px 0;
			padding: 4px 0 4px 10px;
		}
		&:hover .inner {
			@include transition( all 0.25s ease-in-out );
			background-color: lighten(silver,10%);
		}
	}

	.resume-title {
		font-size: $font-size*1.25;
		margin: 0;
		margin-bottom: 10px;
		color: steelblue;
		font-weight: bold;
		padding: 0;
	}

	.resume-pdf {
		background-color: lavender;
		padding:10px;
		width: 50px;
		height: 50px;
		border-radius:5px;
		@include transition( background-color 0.25s ease-in-out );
		&:hover {
			background-color: lightblue;
			@include transition( background-color 0.25s ease-in-out );
		}
	}

	.company {

		margin-top: 1em;
		max-width: 90%;
		@media #{$mobile} { max-width: 100%; }
		hr.resume {
			height : 0;
			background: none;
			margin-top: 3em;
			border: 1px dashed hsla(0, 0%, 90%, 1);
			max-width: 75%;
		}
		h2.job-title,
		h3,
		{
			font-size: inherit;
			color: $txt-color;
			margin: 0;
			line-height: inherit;
		}
		h2.job-title {
			font-size: $font-size;
			font-weight: 900;
			margin-bottom: 0.25em;
		}
		h3 {
			font-size: inherit;
			font-weight: normal;
			a:link, a:visited {
				// @include transition( all 0.25s ease-in-out );
				color: $txt-color;
				// text-decoration: underline;
				// @extend .underline;
				&:hover {
					color: $link-color;
					// @include transition( all 0.25s ease-in-out );
				}
			}
		}
		p.description {
			margin-top: 10px;
		}
		ul {
			margin-top: 1em;
			// list-style: initial;
			list-style-position: inside;
			// list-style-type: circle;
			li {
				color: lighten($txt-color,15%);
				font-size: 90%;
				margin-bottom: 0.25em;
				padding-left: 1em;
				text-indent: -1em;
				// line-height: 90%;
				@include transition( all 0.25s ease-in-out );
				a:link, a:visited {
					@extend .underline;
				}
				&:hover {
					// color: black;
					@include transition( all 0.25s ease-in-out );
				}
				&:before {
				    content: "•"; /* Insert content that looks like bullets */
				    padding-right: 8px;
				    color: lighten($txt-color,10%); /* Or a color you prefer */
				}
			}
		}

		strong a, strong a:visited {
			color: black;
			@include transition( all 0.25s ease-in-out );
			&:hover {
				@include transition( all 0.25s ease-in-out );
				color: $link-color;
			}
		}
	}
	#history {
		ul {
			list-style: initial;
			list-style-position: inside;
			list-style-type: circle;
			max-width: 90%;
			li {
				margin-bottom: 0.15em;
				padding-left: 1em;
				text-indent: -1em;
				// max-width: 80%;
				@media #{$mobile} { max-width: 100%; }
			}
		}

		strong a, strong a:visited {
			color: black;
			@include transition( all 0.25s ease-in-out );
			&:hover {
				@include transition( all 0.25s ease-in-out );
				color: $link-color;
			}
		}
	}

	.bio {
		// font-size: 1.15em;
		line-height: $line-height;
	}

}



// FOOTER
// =====================================

#footer {
	margin-top: 40px;
	width: 100%;
	background-color: $footer-color;
	padding: 1em 0;
	color: $footer-text-color;
	@media #{$md}{
		padding: 2em 0 4em 0;
 	}
	p, & ul {
		font-size: 70%;
		line-height: 1.75em;
		margin-bottom: 0.25em;
	}
	hr {
		background: none;
		border-bottom: 1px solid $footer-text-color;
	}

	li {
		margin-bottom: 0.25em;
	}

	a:link, a:visited {
		font-family: inherit;
		line-height: 1.75em;
		color: white;
		font-size: 1.25em;
		@include transition(all 1.0s);
		&:hover {
			color: darken($footer-text-color,50%);
			@include transition(all 1.0s);
		}
	}
	.emoji {
		display: none;
		// margin-top: 5em;
		text-align: center;
		// text-align: right;
		// background-color: red;
		img {
			// width: 25%;
			// margin-left: 5px;
			// padding: 0.5em;
			// margin: 2px;

		}
	}
	.flex-footer {
		display: flex;
		-webkit-display: flex;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		a:link, a:visited {
			font-size: 16px;
			@media #{$md} {
				font-size: 20px;
			}
			// @media (min-width: 1400px) {width: calc(100%/5);}
		}
	}
}

// VIDEO
video {
    width: 100% !important;
    height: auto !important;
}

// TODAY
.today {
	li {
		margin-bottom: 0.5em;
	}
}
.today-header {
	h2 {
		font-size: 45px;
		font-weight: 900;
		text-transform: capitalize;
		margin-bottom: 10px;
	}
	p#weather {
		font-weight: 900;
		font-size: 22px;
	}
}

	input {
		font-weight: 100;
		font-size: 25px;
		border: 0px;
		box-shadow: 0px;
		padding: 10px 15px 10px 15px;
		//margin: 5px 0 5px 0;
		margin: 0px;
		// display: inline-block;
	}

	input.searchbar {
		color: #909090;
		background-color: #F5F8FA;
		font-family: Georgia;
		margin-right: 0px;
		display: inline-block;
		border-radius: 4em;
		border: 0;
		padding-left: 1em;
		&:hover {
			background-color: #E1E8ED;
		}
	}
	input.button {
		text-align: center;
		background: #F5F8FA;
		color: #8899A6;
		font-family: Helvetica;
		font-weight: 100;
		font-size: 0.9em;
		padding: 2px 10px;
		margin-left: 10px;
		// display: inline-block;
	}

	input:focus
	{
	outline: none;
	border: 0;
	}

	input.button:hover {
		background-color: red;
		color: white;
	}


// added to test google fonts when offline

@font-face {
  font-family: 'Circular';
  src:
	  url('fonts/circular-book.woff') format('woff'),
	  url('fonts/circular-book.ttf') format('truetype');
	  font-weight: normal;
}
@font-face {
  font-family: 'Circular';
  src: url('fonts/circular-medium.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/circular-medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
       font-weight: bold;
}

// @font-face {
//   font-family: 'Arvo';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/BM-nqL-L5PgjKPDNaleWB_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
// }
// @font-face {
//   font-family: 'Arvo';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Arvo Bold'), local('Arvo-Bold'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/_OKjjqM9ed2qvTR07QdjWwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
// }

// @media #{$sm} {
// 	.mobile-only {display: inherit !important;}
// 	.desktop-only {display: none !important;}
// }
// @media #{$md} {
// 	.mobile-only {display: inherit !important;}
// 	.desktop-only {display: none !important;}
// }
// @media #{$lg} {
// 	.mobile-only {display: none !important;}
// 	.desktop-only {display: inherit !important;}
// }
// @media #{$xl} {
// 	.mobile-only {display: none !important;}
// 	.desktop-only {display: inherit !important;}
// }
