
/* TABLE OF CONTENTS
==================================================
#Site Styles
#Page Styles
#Media Queries
#Font-Face */


//INCLUDES ==================================================
@import 'bourbon/bourbon';
@import 'base';
@import 'skeleton';
@import 'lightbox';
@import 'tooltipster';
// @import 'responsive-indicator';
// @import "compass/css3";
// @import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
// @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

// VARIABLES ==================================================
$primary-color: #0072CE;
// $bkg-color: LightSteelBlue;
$bkg-color: lighten(#F5F8FA,5%);
$txt-color: lighten(black,30%);

$link-color: $primary-color;
$link-hover-color: rgba($link-color,0.75);

// $textbox-color: $primary-color;
$textbox-color: LightSkyBlue;
// $textbox-text-color: darken($textbox-color,40%);
$textbox-text-color: white;
$textbox-link-color: $textbox-text-color;
$filter-color: #E1E8ED;

// $footer-color: darken($bkg-color,4%);
$header-color: lighten(black,20%);
$nav_text_color: white;
$footer-color: #262c30;
// $footer-text-color: darken($footer-color,50%);
$footer-text-color: #688a9e;

$gray1: #F5F8FA;
$gray2: #E1E8ED;
$gray3: #CCD6DD;
$gray4: #8899A6;
$gray5: #66757F;

// LCARS
$lcar-orange: #FF9A00;
$lcar-lavender: #9996FF;
$lcar-pink: #CD98CD;
$lcar-salmon: #CE6564;
$lcar-white: #FFFFFF;

$font-size: 15pt;
$mobile-font-size: 14pt;
$line-height: 1.45em;
$caption-font-size: 10pt;
// $body-font: "Arvo";

$system-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$body-font: "Circular";
$header-font: "Circular";

$desktop-large: "only screen and (min-width: 960px)";
$desktop: "only screen and (max-width: 959px)";
$tablet-portrait: "only screen and (min-width: 768px) and (max-width: 959px)";
$mobile: "only screen and (max-width: 767px)";
$mobile-landscape: "only screen and (min-width: 480px) and (max-width: 767px)";
$mobile-portrait: "only screen and (max-width: 479px)";

$sm: "only screen and (min-width : 480px)";
$md: "only screen and (min-width : 767px)";
$lg: "only screen and (min-width : 992px)";
$xl: "only screen and (min-width : 1200px)";

@media #{$desktop-large} 			{ .mobile {display:none;} 		.desktop {display:inherit;} }
@media #{$desktop} 					{ .mobile {display:none;} 		.desktop {display:inherit;} }
@media #{$tablet-portrait} 		{ .mobile {display:none;} 		.desktop {display:inherit;} }
@media #{$mobile} 					{ .mobile {display:inherit;} 	.desktop {display:none;} }
@media #{$mobile-landscape} 	{ .mobile {display:inherit;} 	.desktop {display:none;} }
@media #{$mobile-portrait} 		{ .mobile {display:inherit;} 	.desktop {display:none;} }



// MIXIN ==================================================
@mixin color-options($color) {
	.#{$color}	{ background-color: #{$color}; }
}

@mixin underline($stroke:2px,$color:$link-color) {
    border-bottom: $stroke solid rgba($color, 0.75);
	@include transition( all 0.25s ease-in-out );
    &:hover {
		@include transition( all 0.25s ease-in-out );
    	border-bottom: $stroke solid rgba($color, 0.25);
    }
}
// .box { @include border-radius(10px); }

/* # SITE STYLES
================================================== */

* { @include box-sizing(border-box); }

body, html { width: 100%; }
body {
	// padding-top: 20px;
	font-family: $body-font, Helvetica, sans-serif;
	font-size: $font-size;
	line-height: $line-height;
	background-color: $bkg-color;
	color: $txt-color;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	-webkit-text-size-adjust: 100%;
	// margin: 0;
	margin-top: 34px;
	@media #{$md}{
		margin-top: 40px;
	}
}
h1, h2, h3, h4, h5, h6 {
	// @extend .special-font;
	// font-family: $header-font;
	color: $link-color;
}
h1 {
	// letter-spacing: -1px;
	letter-spacing: -0.5px;
	// @extend .uppercase;
}

h5 {
	font-size: 1.25em;
}
a:link, a:visited {
	color: $link-color;
	text-decoration: none;
	@include transition( all 0.25s ease-in-out );
	&:hover {
		color: $link-hover-color;
		@include transition( all 0.25s ease-in-out );
	}
}

// DARK MODE

@mixin darkmode {
	h1 { color: $lcar-orange !important; }
	h2 { color: $lcar-lavender !important; }
	h3, h4, h5, h6 { color: $lcar-pink !important; }
	p {color: hsla(0, 0%, 80%, 1); }
	li {color: hsla(0, 0%, 80%, 1); }
	a:link, a:visited {color: $lcar-lavender !important; }
	p.caption { color: $lcar-pink !important; }
	strong { color: $lcar-lavender !important; }
	.intro h1 { color: $lcar-salmon !important;}
	.filters .active { background-color: $lcar-orange !important; }
	.filters .filter-item { background-color: rgba($lcar-salmon,0.75); }
	.filter-item {
		background-color: $lcar-pink;
		a:link, a:visited {
			color: black !important;
		}
	}
}

/* Colors
=========================== */

.dots 				{ background-image: url('.../img/bg2.gif');	}
@each $color in "steelblue", "silver", "white", "yellow", "whitesmoke", "greenyellow", "lavender" {
	.#{$color} { background-color: #{$color}; }
}

/* OPTIONS
=========================== */

.center 				{ text-align: center; }
.right 					{ text-align: right; }
.padding 				{ padding: 10px; }
.fixed 					{ height: 80%; }
.navband				{ width: 100%; }
.uppercase			{ text-transform: uppercase; }
.none 					{ display: none; }
.hidden 				{ visibility: hidden; }
.bold 					{ font-weight: 900; }
.arvo 					{ font-family: Arvo, Times, serif; }
.special-font 		{ font-family: Circular, Helvetica, sans-serif; }
.float-right 		{ float: right; }
.float-left 		{ float: left; }
.last 					{ margin-right: 0px; }
.visible 				{ display: inherit !important }
.red						{ background-color: red; }
.remove-right 	{ padding-right: 0; padding-top: 0;}
.remove-bottom 	{ margin-bottom: 0; }
.remove-top 		{ margin-top: 0px; }
.add-top 				{ margin-top: 100px !important; }
.half-top 				{ margin-top: 40px !important; }
.double-bottom	{ margin-bottom: 60px !important; }
.nolist 				{ list-style: none; }
.nowrap, .nobreak 				{ white-space: nowrap; }
.hide 					{ display: none; }
.photo-outline {border: 1px solid #CCD6DD; padding: 1em; margin-bottom: 15px;}
.thumb-outline { border: 2px solid #CCD6DD; }
.viz {border: dotted 1px red; }

.list-spacing-fix li	{
	margin-bottom: 0.35em !important;
	line-height: $line-height;
}
.fixed-padding-top {
	padding-top: 20px;
}

hr {
	border: 0;
	height : 15px;
	background: url('../img/bg/dots.gif') repeat-x;
	margin : 1em 0;
}
hr.separator {
	margin: 30px 0;
	width: 10%;
}
.subtle-drop-shadow {
	-moz-box-shadow: 0 2px 20px rgba(gray,0.25);
	-webkit-box-shadow: 0 2px 20px rgba(gray,0.25);
	box-shadow: 0 2px 20px rgba(gray,0.25);
}

.round-corner {
	border-radius: 5px;
}

.img-band 		{ width: 100%; height: 30%; }

#blobby 			{ background: url('img/dailygifs/blob_2.gif')	}

img.scale-with-grid2 { max-width: 100%; height:auto }

.strikeout {
	position: relative;
	&:after {
		@include transition( all 0.75s ease-in-out );
	    border-bottom: 3px solid rgba(steelblue,0.5);
	    content: "";
	    left: -10px;
	    position: absolute;
	    right: -10px;
	    top: 50%;
	}
}

.underline {
	@include underline();
	// position: relative;
 //    border-bottom: 3px solid rgba(steelblue,0.25);
	// @include transition( all 0.25s ease-in-out );
 //    &:hover {
	// 	@include transition( all 0.25s ease-in-out );
 //    	border-bottom: 3px solid rgba(steelblue,0.5);

 //    }
	// &:after {
	//     content: "";
	//     left: -10px;
	//     position: absolute;
	//     right: -10px;
	//     top: 50%;
	// }
}

.caption {
	font-size: $caption-font-size;
	line-height: $line-height;
	list-style: none;
	p { margin-bottom: .5em; }
	hr { margin-bottom: .5em; }
}

.opacity-fade {
	a > img {
		@include transition( opacity 0.25s ease-in-out );
		&:hover { opacity: 0.65; }
	}
}

// HEADER
// ========================

// .headroom {
	// position: fixed;
	// top: 0;
	// left: 0;
	// right: 0;
	// z-index: 9999;
	// background-color: $bkg-color;
	// padding: 25px 0 10px 0;
	// font-size: 14pt;
	// @include transition( all 0.75s ease-in-out );

	// .active {
	// 	border-bottom: 3px solid lighten($link-color,30%);
	// 	padding: 5px 1px;
	// 	color: black;
	// 	@include transition( all 0.75s ease-in-out );
	// 	&:hover {
	// 		@include transition( all 0.75s ease-in-out );
	// 		border-bottom: 3px solid lighten($link-color,20%);
	// 	}
	// }

	// nav {
		// @extend .uppercase;
		// @extend .special-font;
		// letter-spacing: 0.15em;

		// .title {
		// 	// font-size: 25px;
		// 	// font-weight: 900;
		// 	// text-align: left;
		// 	// float: left;
		// 	// @media #{$mobile} {
		// 	// 	font-size: 1.25rem;
		// 	// }

		// 	// a, a:visited {
		// 	// 	color: black;
		// 	// 	&:hover {
		// 	// 		color: gray;
		// 	// 	}
		// 	// }
		// 	// &::after {
		// 	// 	content: "\2301"; //hexcode of &#8961; http://www.evotech.net/blog/2007/08/css-javascript-character-entities/
		// 	// 	content: "\270F";
		// 	// 	color: red;
		// 	// 	font-size: 150%;
		// 	// 	position: absolute;
		// 	// 	top: -1px;
		// 	// 	margin-left: 8px;
		// 	// }
		// }
		// ul {
		// 	// text-align: right;

		// 	li {
		// 		font-size: 1rem;
		// 		display: inline;
		// 		list-style: none;
		// 		margin-right: 2em;
		// 		@media #{$mobile} {
		// 			font-size: 0.9rem;
		// 			margin-right: 0.25em;
		// 		}
		// 		&:last-child { margin-right: 0; }
		// 		a, a:visited {
		// 			@include transition(all 0.25s);
		// 			font-weight: 900;
		// 			color: gray;
		// 			&:hover {
		// 				@include transition(all 0.25s);
		// 				color: black;
		// 			}
		// 		}
		// 	}
		// }
	// }
// }
// .headroom--pinned {
// 	top: 0;
// 	// transform: translateY( 0% );
// }

// .headroom--unpinned {
// 	top: -100px;
// 	// transform: translateY( -100% );
// }
.navband {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	font-size: 14pt;
	background-color: $header-color;
	padding: 0; margin: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	// padding-bottom: 6px;
	@include transition( all 0.75s ease-in-out );
	.active {
		border-bottom: 3px solid red;
		padding: 5px 1px;
		color: black;
		@include transition( all 0.75s ease-in-out );
	}
	.header {
		@extend .flex-container;
		justify-content: space-between;
		#title {
			font-size: 20px;
			a:link, a:visited {
				color: $nav_text_color;
				font-weight: 900;
				text-transform: uppercase;
				// letter-spacing: 1px;
				@media #{$md}{
					font-size: 25px;
				}
			}
		}
		#nav {
			display: flex;
			align-items: baseline;
			margin-bottom: 4px;
			text-transform: uppercase;
			@media #{$md}{
				margin-bottom: 6px;
			}
			.nav-page {
				margin-right: 10px;
			}
			.nav-item {
				margin-left: 10px;
				a:link, a:visited {
					font-weight: 900;
					font-size: 15px;
					color: $nav_text_color;
					@media #{$md} {
						font-size: 20px;
					}
				}
			}
			.header-icon {
				display: none;
				img {
					width: 100%;
				}
				@media #{$md} {
					display: inherit;
					height: 16px;
					width: 16px;
				}
			}
			#email {
				height: 24px;
				width: 24px;
			}
		}
	}
}
// subheader
.back-to-landing-page-menu {
	z-index: 9;
	background-color: lighten($footer-color,20%);
	position: absolute;
	display: flex;
	justify-content: center;
	left: 0;
	top: 0;
	margin-top: 0;
	width: 100%;
	padding: 45px 10px 4px 10px;
	line-height: 1.25em;
	color: white;
	font-size: 15px;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

	strong {
		color: white;
		margin-right: 5px;
	}
	a:link, a:visited {
		color: white;
		opacity: 0.5;
		padding: 0 3px;
		&:hover {
			opacity: 1;
			color: white;
		}
	}
	.active {
		opacity: 1 !important;
		color: white !important;
		@include underline(2px, white);
	}
	@media #{$md} {
		// position: fixed;
		padding: 52px 20px 8px 20px;
	}
}

// INDEX
// ======================================
.index-textbox {
	font-size: $font-size;
	margin-top: 100px;
	h1 {
		font-size: 45px;
		font-weight: 400 !important;
		text-transform: inherit;
		color: $txt-color;
		margin-bottom: 30px;
		a:link, a:visited {
			color: $textbox-link-color;
			@extend .underline;
		}
	}
	p {
		color: lighten($txt-color,30%);
		line-height: 1.5em;
		a:link, a:visited {
			color: darken($textbox-color,45%);
			@extend .underline;
		}
	}
	@media #{$md} {
		margin-top: 70px;
		background-color: transparent;
		color: $txt-color;
		font-size: 25px;
		max-width: 90%;
		h1 {
			font-size: 65px;
			color: $txt-color;
		}
		p {
			font-size: 25px;
			max-width: 80%;
		}
		a:link, a:visited {
			color: $link-color;
		}
	}
}

.index-right-column {
	// padding-right: 0px;
	// padding-top: 0px;
	// hr:first-child { margin-top: 0; }
	font-size:0.75em;
	ul, li { margin-bottom: 0; }
	@media #{$mobile} {
		padding-left: 0px;
	}
}

// May 17, 2017
.home-page {
	.intro {
		padding: 100px 0 40px;
		h1 {
			font-size: 25px;
			line-height: 1.25em;
			padding-right: 0;
		}
		p {
			font-family: #{$system-fonts};
			color: #8899A6;
			a:link, a:visited {
				@include underline();
			}
		}
		@media #{$md}{
			padding-top: 125px;
			h1 {
				font-size: 40px;
				line-height: 1.25em;
				padding-right: 20%;
				margin-bottom: 2em;
			}
			p {
				padding-right: 20%;
			}
		}
	}
	.selected-projects {
		margin-bottom: 40px;
		letter-spacing: 0.01em;
		h1 {
			font-size: $font-size;
		}
		h2.title {
			font-size: 0.9em;
			font-size: 0.9em;
			margin-top: 20px;
			margin-bottom: 10px;
			font-weight: 900;
		}
		p {
			font-size: 0.8em;
			line-height: 1.5em;
			font-family: #{$system-fonts};
			opacity: 0.6;
		}
		p.tags {
			letter-spacing: 1px;
			font-size: 0.75em;
			background-color: #E1E8ED;
			padding: 2px 10px;
			border-radius: 10em;
			text-transform: uppercase;
		}
	}
}
.main-container {
	@media #{$md}{
		// padding-left: 20px;
		// padding-right: 20px;
	}
}

// PORTFOLIO PAGE
// ======================================

.portfolio {
	p {
		@extend .uppercase;
		@extend .center;
		@extend .special-font;
		@extend .bold;
		line-height: 1.25em;
		font-size: 0.75em;
		letter-spacing: 0.15em;
		@media #{$mobile} {
			font-size: 1em;
		}
	}
	img {
		@extend .scale-with-grid2;
		img: 100%;
		opacity: 1;
		@include transition( all 0.25s ease-in-out );
		// &:hover { opacity: 0.65; }
	}
}
.project-details {
	color: hsla(0, 0%, 50%, 1);
	padding-top: 0px;
	@media #{$md}{
		padding-top: 20px;
	}
	.content {
		li {
			// margin: 0;
			// padding: 0;
			// list-style-position: outside;
			font-size: 0.75em;
			margin-bottom: 8px;
		}
	}
	img {width: 100%; margin-bottom: 20px;}
	h1 {
		color: black;
		font-size: 40px;
		line-height: 1.125em;
		margin-top: 0;
		@media #{$md} {
			font-size: 45px;
		}
	}
	h1.title {
		color: black;
		// margin-top: 20px;
		font-size: 33px;
		margin-bottom: 4px;
	}
	h2.subtitle {
		font-size: 20px;
		font-weight: 500;
		color: hsla(0, 0%, 60%, 1);
		line-height: 1.25em;
		margin-bottom: 40px;
	}
	@media #{$md}{
		h1.title {
			font-size: 50px;
			text-align: center;
		}
		h2.subtitle {
			font-size: 28px;
			text-align: center;
			margin-bottom: 80px;
		}
	}
	h2 {
		font-size: 30px;
		color: black;
	}
	h3 {
		color: black;
		margin-top: 1.5em;
		font-size: 20px;
		@media #{$md} {
			font-size: 30px;
		}
	}
	p {
		font-size: 80%;
		line-height: 1.75em;
		// padding-right: 20px;
		@media #{$md} {
			font-size: $font-size;
			max-width: 96%;
		}
	}
	.video-padding {
		padding: 20px;
		@media #{$md}{
			padding: 20px 70px 0;
		}
		img {
			@extend .subtle-drop-shadow;
			margin-bottom: 0;
		}
		video {
			@extend .subtle-drop-shadow;
			border-radius: 4px;
			width: 100%;
		}
	}
	.illy-padding {
		padding: 20px;
		@media #{$md}{
			padding: 20px 70px 0;
		}
		img {
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
			&:hover {
				-webkit-transform: scale(1.005);
				-moz-box-shadow: 3px 3px 10px 1px rgba(#CCD6DD,0.5);
				-webkit-box-shadow: 3px 3px 10px 1px rgba(#CCD6DD,0.5);
				box-shadow: 5px 3px 10px 1px rgba(#CCD6DD,0.5);
			}
			margin-bottom: 0;
			border-radius: 5px;
		}
	}
	.img-diagram {
		background-color: hsla(0, 0%, 93%, 1);
		padding: 0;
		border-radius: 3px;
		margin-bottom: 0;
		line-height: 0;
		img {
			@extend .subtle-drop-shadow;
			margin-bottom: 0;
		}
		@media #{$md}{padding: 30px 160px 50px; }
		@media #{$lg}{padding: 30px 120px 50px; }
	}
	.img-diagram-bottom-crop {
		@extend .img-diagram;
		@media #{$md}{padding: 30px 160px 0px; }
		@media #{$lg}{padding: 30px 120px 0px; }
	}
	.img-para-50 {
		// background-color: red;
		display: inline-block;
		width: 100%;
		@media #{$md}{
			width: 49.5%;
		}
		font-size: 0;
		img {
			padding: 0;
			margin: 0;
			width: 100%;
		}
	}
	.img-para-25 {
		width: 49%;
		@extend .img-para-50;
		@media #{$md}{
			width: 24.5%;
		}
	}
	.img-para-100 {
		width: 100%;
		@extend .img-para-50;
		@media #{$md}{
			width: 100%;
		}
	}

	.linked {
		padding-top: 0;
	}
	.videoWrapper iframe {
		padding: 20px;
		background-color: hsla(0, 0%, 90%, 1);
		@media #{$md}{
			padding: 40px 60px;
		}
	}
	.caption {
		text-align: center;
		font-size: $caption-font-size;
		font-family: #{$system-fonts};
		color: $gray5;
		line-height: 1.45em;
		margin-bottom: 2em;
		margin-top: 10px;
	}
	.intro {
		color: darken($primary-color,15%);
		font-weight: 900;
		margin-bottom: 2em;
		font-size: 140%;
		line-height: 1.5em;
		max-width: 95%;
	}
	.project-sidebar {
		margin-bottom: 3em;
		// font-size: 120%;
		font-size: inherit;
		p {
			line-height: 1.35em;
			@media #{$md}{
				font-size: $font-size*.85;
				margin-bottom: 0.1em;
			}
		}
		// border-left: solid 1px black;
		// background-color: #f0f4f6;
		// padding: 1.5em 1.5em 3em 1.5em;
		// margin-bottom: 3em;
		img.logo {
			width: 100%;
			padding: 10px;
			// padding-top: 10px;
		}
		ul.tags {
			font-size: 80%;
			margin: 0;
			margin-top: 1em;
			padding: 0;
			li {
				// background-color: red;
				display: inline-block;
				margin-right: 1em;
				margin-bottom: 10px;
				background-color: #E1E8ED;
				// margin-right: 15px;
				// padding: 2px 15px;
				border-radius: 4px;
				// border-radius: 4px;
				padding: 1px 8px;
				margin-right: 4px;
				a:link, a:visited {
					color: hsla(0, 0%, 30%, 1);
				}
				// @include transition( all 0.125s ease-in-out );
				// &:hover {
				// 	background-color: darken($filter-color,15%);
				// 	@include transition( all 0.125s ease-in-out );
				// }
			}
			li.active {
				background-color: darken($filter-color,15%);
			}
		}
	}
	.additional-image-slideshow {
		img {
			margin-bottom: 2em;
		}
	}
	.slick {
		@media #{$md}{
			padding-top: 20px;
		}
	}
}

.filters {
	@extend .fixed-padding-top;
	display: flex !important;
	width: 100%;
	font-size: 15px;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: -10px;
	margin-top: 30px;
	.filter-item {
		margin-bottom: 6px;
		margin-right: 6px;
		padding: 0 8px;
		background-color: #E1E8ED;
		border-radius: 20px;
		a:link, a:visited {
			color: hsla(0, 0%, 30%, 1);
		}
	}
	.active {
		background-color: $footer-color;
		a:link, a:visited {
			color: white;
		}
	}
	@media #{$md}{
		font-size: 17px;
		.filter-item {
			padding: 0px 13px;
			margin-right: 10px;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	// ul {
	// 	margin: 0;
	// 	padding: 0;
	// 	text-align: center;
	// 	li {
	// 		display: inline-block;
	// 		// margin-bottom: 10px;
	// 		background-color: #E1E8ED;
	// 		margin-right: 5px;
	// 		padding: 0px 4px;
	// 		// border-radius: 4px;
	// 		a:link, a:visited {
	// 			// margin: 0; padding: 0;
	// 			color: hsla(0, 0%, 30%, 1);
	// 		}
	// 		@include transition( all 0.125s ease-in-out );
	// 		&:hover {
	// 			background-color: darken($filter-color,15%);
	// 			@include transition( all 0.125s ease-in-out );
	// 		}
	// 	}
	// 	li.active {
	// 		background-color: darken($filter-color,15%);
	// 	}
	// }
	// @media #{$md}{
	// 	font-size: inherit;
	// 	ul {
	// 		li {
	// 			padding: 2px 15px;
	// 			border-radius: 14px;
	// 			margin-right: 15px;
	// 		}
	// 	}
	// }
}
.subhead-padding {
	padding-top: 10px;
	@media #{$md}{
		// padding-top: 10px;
	}
}
// .subhead-filter-padding {
// 	padding-top: 120px !important;
// 	@media #{$md}{}
// }
// FLEX
.full-thumbnails {
	display: flex;
	-webkit-display: flex;
	-ms-display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	width: 100%;
	// max-width: 1400px;
	max-width: 1500px;
	margin: 0 auto;
	padding: 0;
	@media #{$md}{
		padding: 15px 10px;
	}
	.fl-thumb {
		width: 50%;
		position: relative;
		border: 0;
		background-color: black;
		height: 100%;
		line-height: 0;
		font-size: 0;
		margin-bottom: -2px;
		@media (min-width: 768px) {width: calc(100%/3);}
		@media (min-width: 1024px) {width: calc(100%/4); padding: 0;}
		// @media (min-width: 1400px) {width: calc(100%/5);}
		@include transition( all 0.25s);
		.title {
			display: flex;
			text-align: center;
			justify-content: center;
			flex-wrap: wrap;
			height: 100%;
			align-items: center;
			opacity: 0;
			left: 0px;
			top: 0px;
			width: 100%;
			position: absolute;
			z-index: 9;
			color: white;
			line-height: 1.25em;
			font-size: 30px;
			// padding: 0.5em 0.5em 0 0.5em;
			padding: 0 2em;
			font-weight: 500;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
		}
		img {
			width: 100.5%;
			height: 100%;
			opacity: 1;
			line-height: 0;
			font-size: 0;
			// padding: 10px;
		}
	}
	.fl-thumb:hover img {
		// transform:scale(1.1,1.1);
		opacity: 0.15;
		@include transition( all 0.25s);
	}
	.fl-thumb:hover .title {
		opacity: 1;
		@include transition( all 0.25s);
	}
	.project-thumbnail {
		width: calc(100%/2);
		img {
			width: 100%;
		}
	}
}
//reduces the width when there aren't as many thumbnails
.reduce-width {
	max-width: 1000px;
	.fl-thumb {
		@media (min-width: 768px) {width: calc(100%/3);}
		// @media (min-width: 1024px) {width: calc(100%/3);}
		@media (min-width: 1400px) {width: calc(100%/3);}
		.title {
			font-size: 20px;
		}
	}
}
.index-thumbs {
	.fl-thumb {
		width: calc(100%/2);
	}
}
.fl-additional-img {
	width: 100%;
	max-width: 1440px;
	// @media (min-width: 1400px) {max-width: 80%; }
	margin: 0 auto;
	margin-top: 40px;
	// background-color: #F5F8FA;
	display: flex;
	-webkit-display: flex;
	-ms-display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	line-height: 0;
	img {
		width: 100%;
	}
	.small {
		width: calc(100%/2);
		@media (min-width: 600px) {width: calc(100%/4);}
		@media (min-width: 1024px) {width: calc(100%/6);}
		padding: 4px;
	}
	.medium {
		width: calc(100%/2);
		padding: 4px;
		// @media (min-width: 768px) {width: calc(100%/3);}
		@media (min-width: 1024px) {width: calc(100%/3);}
		// @media (min-width: 1400px) {width: calc(100%/4);}
	}
	.large {
		width: calc(100%/2);
		padding: 4px;
		// @media (min-width: 768px) {width: calc(100%/3);}
		@media (min-width: 1024px) {width: calc(100%/3);}
		// @media (min-width: 1400px) {width: calc(100%/4);}
	}
}
.variable-height {
	img {
		width:100%;
		margin: 0 5px 5px 5px;
	}
	width: 100%;
	max-width: 1440px;
	padding: 0 auto;
	line-height: 0;
	width: 100%;
	column-count: 2;
	-webkit-column-count: 2;
	-ms-column-count: 2;
	column-width: auto;
	-webkit-column-width: auto;
	-ms-column-width: auto;
	column-gap: 0;
	-webkit-column-gap: 0;
	-ms-column-gap: 0;
	@media (min-width: 500px) {column-count: 3; -webkit-column-count: 3; -ms-column-count: 3;}
	@media (min-width: 1440px) {column-count: 4; -webkit-column-count: 4; -ms-column-count: 4;}
}
.flex-container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	-webkit-display: flex;
	-ms-display: flex;
	// flex-wrap: wrap;
	// -webkit-flex-wrap: wrap;
	// -ms-flex-wrap: wrap;
}
.hero-container {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	-moz-box-shadow: 0 3px 15px rgba(gray, 0.115);
	-webkit-box-shadow: 0 3px 15px rgba(gray, 0.115);
	box-shadow: 0 3px 15px rgba(gray, 0.115);
	max-height: 300px;
	img {
		width: 100%;
	}
	@media #{$md}{max-height: 350px; }
	@media #{$lg}{max-height: 450px; }
	@media #{$xl}{max-height: 600px; }
}
.hero-img {
	line-height: 0;
	-moz-box-shadow: 0 3px 15px rgba(gray, 0.115);
	-webkit-box-shadow: 0 3px 15px rgba(gray, 0.115);
	box-shadow: 0 3px 15px rgba(gray, 0.115);
	max-height: 300px;
	overflow: hidden;
	@media #{$md}{max-height: 350px; }
	@media #{$lg}{max-height: 450px; }
	@media #{$xl}{max-height: 650px; }
}

// May 21, 2017
.portfolio-project {
	.main-content {
		height: 100%;
		display: flex;
		flex-direction: column;

		margin: 0 auto;
		max-width: 800px;

		margin-top: 40px;
		h1.title {
			margin-bottom: 10px;
			font-size: 40px;
		}
		h2.subtitle {
			font-size: 28px;
			font-weight: 500;
			color: hsla(0, 0%, 60%, 1);
			font-family: #{$system-fonts};
			letter-spacing: 0.01em;
			margin-bottom: 60px;
		}
		.text-column {
			font-family: #{$system-fonts};
			letter-spacing: 0.01em;
		}
		@media #{$lg}{
			// max-width: 90vw;
			.text-column {
				// columns: 2;
				// -moz-columns: 2;
				// -webkit-columns: 2;
				// height: 100%;
				// overflow: none;
			}
		}
	}
}


// HIRE ME
// ======================================

.bar-chart {
	width: 90%;
	// height: 20px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 1em;
	.inner {
		font-size: 8pt;
		font-family: Verdana,sans-serif;
		text-align: center;
		display: inline-block;
		background-color: orange;
		color: black;
		// padding: 0.25em 1em;
		// margin: 0;
		margin-right: -4px; //fixes weird space to the right of the box.
		margin-bottom: 0.5em;
	}
}
.cover-letter {
	.landing-page {
		font-size: 20px;
		line-height: 1.5em;
		p {
			line-height: inherit;
			@media #{$mobile} {
				font-size: 16px;
			}
			a:link, a:visited {
				&:hover {
					@include underline(3px,$primary-color);
				}
				color: $primary-color;
			}
		}
		h1,h2,h3,h4,h5,h6 {
			margin-bottom: 1em;
			// @include underline(3px,$primary-color);
		}
		h1 {
			font-size: 32px;
		}
		h2.heading {
			font-weight: 900;
			font-size: 32px;
			line-height: 1.5em;
			@media #{$mobile} {
				font-size: 25px;
				line-height: 1.35em;
			}
			.job-title {
				&:hover {
					border-bottom: 2px dotted lighten($link-color,40%);
				}
			}
		}
		h3 {
			font-size: 20px;
			margin: 0 0 20px 0;
		}
		h5 {
			margin-top: 1em;
		}
		img {
		  display: block;
		  margin-bottom: 8px;
		}
		.date {
			margin-top: 70px;
			a:link, a:visited {
				background-color: $bkg-color;
				color: $txt-color;
			}
		}
		img.portrait {
			border-radius: 10em;
			margin-bottom: 2rem;
		}
		.tooltip {
			color: $link-color;
		}
		.sample-projects {
			margin-top: 2em;
		}
		.checklist {
			li {margin-bottom: 0;}
			@media only screen and (min-width: 800px) {
				@include column-count(1);
				// @include column-gap(1em);
			}
		}
		ul.skills {
			li {
				font-size: 0.75em;
				display: inline-block;
				background-color: #E1E8ED;
				margin-right: 15px;
				padding: 1px 13px;
				border-radius: 14px;
				margin-bottom: 0.5em;
				@include transition( all 0.125s);
				&:hover {
					@include transition( all 0.125s);
					background-color: #CCD6DD;
				}
				a:link, a:visited {
					color: black;
				}
				@media #{$mobile} {
					font-size: 14px;
					padding: 0px 10px;
					margin-right: 5px;
				}
			}
		}
		.button {
			display: flex;
			justify-content: center;
			font-size: 18px;
			margin: 1em 0;

			a:link, a:visited {
				// margin: 0 auto;
				border-radius: 10px;
				border: 0;
				border-bottom: 4px solid darken(#24B273,10%);
				padding: 5px 15px;
				background-color: #24B273;
				color: white;
				// position: relative;
				&:hover {
					// top: 1px;
					// border-width: 2px;
					background-color: lighten(#24B273,5%);
				}
			}
		}
		.lets-talk-social-icons {
			font-size: 120%;
		}
		.original-job-button-minimal {
			margin-top: 2em;
			display: inline-block;
			font-size: 16px;
			color: darken($bkg-color,10%);
			// @include underline();
		}
	}
	.sidebar {
		.logo {
			width: 100%;
			padding: 2em;
			// padding-top: em;
		}
		img.portrait {
			width: 100%;
		}
		h6 {
			margin-top: 1em;
			font-weight:900;
			font-size: 120%;
		}
	}
}
.quick-bio {
	width: 100%;
	padding-top: 3em;
	img.portrait {
		@media #{$mobile} {
			max-width: 50% !important;
		}
	}
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f8fa+0,ffffff+46 */
	background: #f5f8fa; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f8fa 0%, #ffffff 46%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f5f8fa 0%,#ffffff 46%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f5f8fa 0%,#ffffff 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f8fa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.video-game-resume {
	padding-bottom: 3em;
	.list {
		display: flex;
		flex-wrap: wrap;
		.game {
			padding: 0 10px;
		}
	}
}

// $icon-width: 150px;

.space-page {
	h5 {
		padding-top: 2em;
	}
	img {
		margin-bottom: 1em;
		border: 1px solid silver;
	}
}

.original-job-button {
	background-color: $link-color;
	color: white;
	padding: 0.25em;
	margin: 0 auto;
	margin-bottom: 20px;
	// margin-top: 20px !important;
	border-radius: 0.5em;
	width: 200px;
	text-align: center;
	@extend .uppercase;
	@extend .special-font;
	&:hover {
		background-color: $link-hover-color;
	}
}

.original-job-details {
	color: lighten($txt-color,30%);
	margin-top: 1em;
	font-size: 1rem;
	line-height: 1.5em;
	hr,ul,h1,h2,h3,h4,h5,h6 { @include column-span(all); }
	h1,h2,h3,h4,h5,h6 {
		color: black;
		// margin-top: 40px;
		margin-top: 1em !important;
		margin-bottom: 1em !important;
	}
	h2,h3,h4,h5,h6 {
		color: hsla(0, 0%, 40%, 1);
	}
	em {
		font-style: normal;
		background-color: yellow;
	}
	ul {
		// font-weight: 800;
		li {
			 list-style-type: circle;
			 // line-height: 10px !important;
			 // margin-bottom: 1em;
		}
	}
	@media only screen and (min-width: 1200px) {
		// @include column-count(2);
		// @include column-gap(1em);
	}
}

.related {
	font-size: 90%;
	line-height: 1.4em;
	li {
		margin-bottom: 0.4em;
	}
}

.description {
	a:link, a:visited {
		// @extend .underline;
	}
	p {
		// font-size: $font-size;
		line-height: 1.5em;
		max-width: 95%;
		// margin-bottom: 1em;
	}
}

// CHART CSS
.chart > div {
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: 700;
	letter-spacing: 0.5px;
	background-color: lighten(silver,15%);
	padding: 0;
	margin: 0;
	@include transition( all 0.5s ease-in-out );

	> div {
		@include transition( all 0.5s ease-in-out );
		background-color: lighten($link-color,40%);
		margin: 2px 0;
		padding: 2px 0 2px 10px;
	}
	&:hover .inner {
		@include transition( all 0.5s ease-in-out );
		background-color: lighten($link-color,40%);
	}
}

.id-container {
	// @extend .viz;
	padding-top: 5vh;
	padding-bottom: 5vh;
	.id-nav {
		padding: 1vw 8vw;
		a:link, a:visited {
			background-color: hsla(0, 0%, 90%, 1);
			padding: 5px 10px;
			display: inline-block;
			margin-bottom: 10px;
			margin-right: 15px;
		}
	}
	.interest-id {
		// @extend .viz;
		// width: calc(100% - 140px);
		background-color: #DBDFE6;
		padding: 4em 2em;

		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;

		.id-thumbnail {
			// @extend .viz;
			text-align: center;
			margin-right: 20px;
			margin-bottom: 40px;
			// min-width: 100px;
			width: 40vw;
			@media #{$md}{width: 28vw; }
			@media #{$lg}{width: 12vw; }
			&:last-child {margin-right: 0;}
			img {
				// border-radius: 10px;
			}
		}

	}
}

// ABOUT ME
// ======================================

.resume {
	font-size: 90%;
	padding-top: 30px;
	// line-height: 1.25em;

	.tech-skills > div {
		font: 8pt sans-serif;
		font-weight: bold;
		background-color: lighten(steelblue,35%);
		padding: 4px;
		margin: 4px 0;
		@include transition( all 0.25s ease-in-out );

		> div {
			background-color: lighten($link-color,30%);
			margin: 5px 0;
			padding: 4px 0 4px 10px;
		}
		&:hover .inner {
			@include transition( all 0.25s ease-in-out );
			background-color: lighten(silver,10%);
		}
	}

	.resume-title {
		font-size: $font-size*1.25;
		margin: 0;
		margin-bottom: 10px;
		color: steelblue;
		font-weight: bold;
		padding: 0;
	}

	.resume-pdf {
		background-color: lavender;
		padding:10px;
		width: 50px;
		height: 50px;
		border-radius:5px;
		@include transition( background-color 0.25s ease-in-out );
		&:hover {
			background-color: lightblue;
			@include transition( background-color 0.25s ease-in-out );
		}
	}

	.company {

		margin-top: 1em;
		max-width: 90%;
		@media #{$mobile} { max-width: 100%; }
		hr.resume {
			height : 0;
			background: none;
			margin-top: 3em;
			border-bottom: 1px dashed hsla(0, 0%, 90%, 1);
			max-width: 75%;
		}
		h2.job-title,
		h3,
		{
			font-size: inherit;
			color: $txt-color;
			margin: 0;
			line-height: inherit;
		}
		h2.job-title {
			font-size: $font-size;
			font-weight: 900;
			margin-bottom: 0.25em;
		}
		h3 {
			font-size: inherit;
			font-weight: normal;
			a:link, a:visited {
				// @include transition( all 0.25s ease-in-out );
				color: $txt-color;
				// text-decoration: underline;
				// @extend .underline;
				&:hover {
					color: $link-color;
					// @include transition( all 0.25s ease-in-out );
				}
			}
		}
		p.description {
			margin-top: 10px;
		}
		ul {
			margin-top: 1em;
			// list-style: initial;
			list-style-position: inside;
			// list-style-type: circle;
			li {
				color: lighten($txt-color,15%);
				font-size: 90%;
				margin-bottom: 0.25em;
				padding-left: 1em;
				text-indent: -1em;
				// line-height: 90%;
				@include transition( all 0.25s ease-in-out );
				a:link, a:visited {
					@extend .underline;
				}
				&:hover {
					// color: black;
					@include transition( all 0.25s ease-in-out );
				}
				&:before {
				    content: "•"; /* Insert content that looks like bullets */
				    padding-right: 8px;
				    color: lighten($txt-color,10%); /* Or a color you prefer */
				}
			}
		}

		strong a, strong a:visited {
			color: black;
			@include transition( all 0.25s ease-in-out );
			&:hover {
				@include transition( all 0.25s ease-in-out );
				color: $link-color;
			}
		}
	}
	#history {
		ul {
			list-style: initial;
			list-style-position: inside;
			list-style-type: circle;
			max-width: 90%;
			li {
				margin-bottom: 0.15em;
				padding-left: 1em;
				text-indent: -1em;
				// max-width: 80%;
				@media #{$mobile} { max-width: 100%; }
			}
		}

		strong a, strong a:visited {
			color: black;
			@include transition( all 0.25s ease-in-out );
			&:hover {
				@include transition( all 0.25s ease-in-out );
				color: $link-color;
			}
		}
	}

	.bio {
		// font-size: 1.15em;
		line-height: $line-height;
	}

}



// FOOTER
// =====================================

#footer {
	margin-top: 40px;
	width: 100%;
	background-color: $footer-color;
	padding: 1em 0;
	color: $footer-text-color;
	@media #{$md}{
		padding: 2em 0 4em 0;
 	}
	p, & ul {
		font-size: 70%;
		line-height: 1.75em;
		margin-bottom: 0.25em;
	}
	hr {
		background: none;
		border-bottom: 1px solid $footer-text-color;
	}

	li {
		margin-bottom: 0.25em;
	}

	a:link, a:visited {
		font-family: inherit;
		line-height: 1.75em;
		color: white;
		font-size: 1.25em;
		@include transition(all 1.0s);
		&:hover {
			color: darken($footer-text-color,50%);
			@include transition(all 1.0s);
		}
	}
	.emoji {
		display: none;
		// margin-top: 5em;
		text-align: center;
		// text-align: right;
		// background-color: red;
		img {
			// width: 25%;
			// margin-left: 5px;
			// padding: 0.5em;
			// margin: 2px;

		}
	}
	.flex-footer {
		display: flex;
		-webkit-display: flex;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		a:link, a:visited {
			font-size: 16px;
			@media #{$md} {
				font-size: 20px;
			}
			// @media (min-width: 1400px) {width: calc(100%/5);}
		}
	}
}

// VIDEO
video {
    width: 100% !important;
    height: auto !important;
}

// TODAY
.today {
	li {
		margin-bottom: 0.5em;
	}
}
.today-header {
	h2 {
		font-size: 45px;
		font-weight: 900;
		text-transform: capitalize;
		margin-bottom: 10px;
	}
	p#weather {
		font-weight: 900;
		font-size: 22px;
	}
}

	input {
		font-weight: 100;
		font-size: 25px;
		border: 0px;
		box-shadow: 0px;
		padding: 10px 15px 10px 15px;
		//margin: 5px 0 5px 0;
		margin: 0px;
		// display: inline-block;
	}

	input.searchbar {
		color: #909090;
		background-color: #F5F8FA;
		font-family: Georgia;
		margin-right: 0px;
		display: inline-block;
		border-radius: 4em;
		border: 0;
		padding-left: 1em;
		&:hover {
			background-color: #E1E8ED;
		}
	}
	input.button {
		text-align: center;
		background: #F5F8FA;
		color: #8899A6;
		font-family: Helvetica;
		font-weight: 100;
		font-size: 0.9em;
		padding: 2px 10px;
		margin-left: 10px;
		// display: inline-block;
	}

	input:focus
	{
	outline: none;
	border: 0;
	}

	input.button:hover {
		background-color: red;
		color: white;
	}


// added to test google fonts when offline

@font-face {
  font-family: 'Circular';
  src:
	  url('fonts/circular-book.woff') format('woff'),
	  url('fonts/circular-book.ttf') format('truetype');
	  font-weight: normal;
}
@font-face {
  font-family: 'Circular';
  src: url('fonts/circular-medium.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/circular-medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
       font-weight: bold;
}

@import 'slick';

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
// stops the video download button
video::-internal-media-controls-download-button {display:none; }
video::-webkit-media-controls-enclosure {overflow:hidden; }
video::-webkit-media-controls-panel {width: calc(100% + 30px); /* Adjust as needed */ }

@media (prefers-color-scheme: dark) {
	@include darkmode;
	.navband {background-color: black !important;}
	#footer {
		background-color: black !important;
		border-top: 1px solid rgba($lcar-salmon, 0.5);
	}
	.project-details {@include darkmode; }
	body {background-color: black; }
	ul.tags li {
		background-color: #CE6564 !important;
		color: black;
	}
}