RewriteEngine on

RewriteRule ^work$ work.php
RewriteRule ^about$ about.php
RewriteRule ^index$ index.php
RewriteRule ^hire-me$ hire-me.php
RewriteRule ^resume$ resume.php

RewriteRule ^100-principles-of-game-design$ 100-principles-of-game-design.php
RewriteRule ^15th-anniversary$ 15th-anniversary.php
RewriteRule ^abriendo-puertas$ abriendo-puertas.php
RewriteRule ^project-animore$ project-animore.php
RewriteRule ^arceus$ arceus.php
RewriteRule ^art-and-paris$ art-and-paris.php
RewriteRule ^chronicles-of-old-boston$ chronicles-of-old-boston.php
RewriteRule ^chronicles-of-old-las-vegas$ chronicles-of-old-las-vegas.php
RewriteRule ^chronicles-of-old-london$ chronicles-of-old-london.php
RewriteRule ^chronicles-of-old-new-york$ chronicles-of-old-new-york.php
RewriteRule ^chronicles-of-old-paris$ chronicles-of-old-paris.php
RewriteRule ^chronicles-of-old-rome$ chronicles-of-old-rome.php
RewriteRule ^city-style$ city-style.php
RewriteRule ^color-chameleon$ color-chameleon.php
RewriteRule ^darkrai$ darkrai.php
RewriteRule ^edgeware$ edgeware.php
RewriteRule ^egg-baby$ egg-baby.php
RewriteRule ^idibon$ idibon.php
RewriteRule ^indiginauts$ indiginauts.php
RewriteRule ^malado-baldwin-indexhibit$ malado-baldwin-indexhibit.php
RewriteRule ^malado-baldwin-wordpress$ malado-baldwin-wordpress.php
RewriteRule ^monkey-mo$ monkey-mo.php
RewriteRule ^sarah-walko-wordpress$ sarah-walko-wordpress.php
RewriteRule ^scavenger-hunt$ scavenger-hunt.php
RewriteRule ^storymaps$ storymaps.php
RewriteRule ^suspended-belief-studios$ suspended-belief-studios.php
RewriteRule ^the3$ the3.php
RewriteRule ^tiger-tiger$ tiger-tiger.php

