RewriteEngine on

RewriteRule ^work$ work.php
RewriteRule ^about$ about.php
RewriteRule ^index$ index.php
RewriteRule ^hire-me$ hire-me.php
RewriteRule ^resume$ about?id=resume
RewriteRule ^portraits$ work?project=portraits

RewriteRule ^pokemon$ work?project=pokemon
RewriteRule ^10th-anniversary$ work?project=10th-anniversary
RewriteRule ^feature-shop$ work?project=feature-shop
RewriteRule ^arceus$ work?project=arceus
RewriteRule ^darkrai$ work?project=darkrai
RewriteRule ^toy-fair$ work?project=toy-fair
RewriteRule ^mystery-dungeon$ work?project=mystery-dungeon
RewriteRule ^battle-revolution$ work?project=battle-revolution
RewriteRule ^pocket-pokedex$ work?project=pocket-pokedex

RewriteRule ^museyon-guides$ work?project=museyon-guides
RewriteRule ^art-and-paris$ work?project=art-and-paris
RewriteRule ^chronicles-of-old-boston$ work?project=chronicles-of-old-boston
RewriteRule ^chronicles-of-old-las-vegas$ work?project=chronicles-of-old-las-vegas
RewriteRule ^chronicles-of-old-london$ work?project=chronicles-of-old-london
RewriteRule ^chronicles-of-old-new-york$ work?project=chronicles-of-old-new-york
RewriteRule ^chronicles-of-old-paris$ work?project=chronicles-of-old-paris
RewriteRule ^chronicles-of-old-rome$ work?project=chronicles-of-old-rome
RewriteRule ^city-style$ work?project=city-style

RewriteRule ^suspended-belief-studios$ work?project=suspended-belief-studios
RewriteRule ^project-animore$ work?project=project-animore
RewriteRule ^color-chameleon$ work?project=color-chameleon
RewriteRule ^indiginauts$ work?project=indiginauts
RewriteRule ^the3$ work?project=the3
RewriteRule ^abriendo-puertas$ work?project=abriendo-puertas

RewriteRule ^100-principles-of-game-design$ work?project=100-principles-of-game-design
RewriteRule ^nerd-comics$ work?project=nerd-comics
RewriteRule ^edgeware$ work?project=edgeware
RewriteRule ^egg-baby$ work?project=egg-baby
RewriteRule ^idibon$ work?project=idibon
RewriteRule ^malado-baldwin-indexhibit$ work?project=malado-baldwin-indexhibit
RewriteRule ^malado-baldwin-wordpress$ work?project=malado-baldwin-wordpress
RewriteRule ^monkey-mo$ work?project=monkey-mo
RewriteRule ^sarah-walko-wordpress$ work?project=sarah-walko-wordpress
RewriteRule ^scavenger-hunt$ work?project=scavenger-hunt
RewriteRule ^storymaps$ work?project=storymaps
RewriteRule ^tiger-tiger$ work?project=tiger-tiger

