RewriteEngine On

RewriteRule ^work$ work.php
RewriteRule ^about$ about.php
RewriteRule ^index$ index.php
RewriteRule ^hire-me$ hire-me.php
RewriteRule ^resume$ about?view=resume
RewriteRule ^portraits$ work?project=portraits
RewriteRule ^ringtones$ ringtones.php
RewriteRule ^today$ today.php
RewriteRule ^jobs$ about?id=jobs

RewriteRule ^illustration$ work?f=illustration
RewriteRule ^ui-ux$ work?f=ui-ux
RewriteRule ^web-dev$ work?f=web-dev
RewriteRule ^print-design$ work?f=print-design
RewriteRule ^branding$ work?f=branding
RewriteRule ^places-i-worked$ work?f=places-i-worked

RewriteRule ^pokemon$ work?project=pokemon
RewriteRule ^feature-shop$ work?project=feature-shop
RewriteRule ^arceus$ work?project=arceus
RewriteRule ^darkrai$ work?project=darkrai
RewriteRule ^toy-fair$ work?project=toy-fair
RewriteRule ^mystery-dungeon$ work?project=mystery-dungeon
RewriteRule ^battle-revolution$ work?project=battle-revolution
RewriteRule ^pocket-pokedex$ work?project=pocket-pokedex
RewriteRule ^mystery-dungeon$ work?project=mystery-dungeon
RewriteRule ^pocket-pokedex$ work?project=pocket-pokedex
RewriteRule ^10th-anniversary$ work?project=10th-anniversary
RewriteRule ^dp-launch$ work?project=dp-launch
RewriteRule ^licensing-show$ work?project=licensing-show
RewriteRule ^pokemon-logos$ work?project=pokemon-logos

RewriteRule ^museyon-guides$ work?project=museyon-guides
RewriteRule ^art-and-paris$ work?project=art-and-paris
RewriteRule ^chronicles-of-old-boston$ work?project=chronicles-of-old-boston
RewriteRule ^chronicles-of-old-las-vegas$ work?project=chronicles-of-old-las-vegas
RewriteRule ^chronicles-of-old-london$ work?project=chronicles-of-old-london
RewriteRule ^chronicles-of-old-new-york$ work?project=chronicles-of-old-new-york
RewriteRule ^chronicles-of-old-paris$ work?project=chronicles-of-old-paris
RewriteRule ^chronicles-of-old-rome$ work?project=chronicles-of-old-rome
RewriteRule ^city-style$ work?project=city-style

RewriteRule ^suspended-belief-studios$ work?project=suspended-belief-studios
RewriteRule ^project-animore$ work?project=project-animore
RewriteRule ^color-chameleon$ work?project=color-chameleon
RewriteRule ^indiginauts$ work?project=indiginauts
RewriteRule ^the3$ work?project=the3
RewriteRule ^abriendo-puertas$ work?project=abriendo-puertas

RewriteRule ^100-principles-of-game-design$ work?project=100-principles-of-game-design
RewriteRule ^nerd-comics$ work?project=nerd-comics
RewriteRule ^edgeware$ work?project=edgeware
RewriteRule ^egg-baby$ work?project=egg-baby
RewriteRule ^idibon$ work?project=idibon
RewriteRule ^malado-baldwin$ work?project=malado-baldwin
RewriteRule ^monkey-mo$ work?project=monkey-mo
RewriteRule ^sarah-walko$ work?project=sarah-walko
RewriteRule ^scavenger-hunt$ work?project=scavenger-hunt
RewriteRule ^storymaps$ work?project=storymaps
RewriteRule ^tiger-tiger$ work?project=tiger-tiger
RewriteRule ^portfolio-site$ work?project=portfolio-site
RewriteRule ^lesconcierges$ work?project=lesconcierges
RewriteRule ^wired$ work?project=wired
RewriteRule ^holiday-2014$ work?project=holiday-2014
RewriteRule ^adelle-marcero$ work?project=adelle-marcero
RewriteRule ^inktober-2016$ work?project=inktober-2016

RewriteRule ^nextlesson$ work?project=nextlesson
RewriteRule ^nextlesson-covers$ work?project=nextlesson-covers
RewriteRule ^nextlesson-interestid$ work?project=nextlesson-interestid
RewriteRule ^nextlesson-glossary$ work?project=nextlesson-glossary
RewriteRule ^nextlesson-interative$ work?project=nextlesson-interative
RewriteRule ^nextlesson-search-browse$ work?project=nextlesson-search-browse
RewriteRule ^nextlesson-library$ work?project=nextlesson-library
RewriteRule ^nextlesson-avatars$ work?project=nextlesson-avatars
RewriteRule ^nextlesson-pdf$ work?project=nextlesson-pdf
RewriteRule ^nextlesson-marketing$ work?project=nextlesson-marketing
RewriteRule ^nextlesson-sports$ work?project=nextlesson-sports

RewriteRule ^kabam$ hire-me?id=9999
RewriteRule ^bigfish$ hire-me?id=510
RewriteRule ^zenpayroll$ hire-me?id=zen
RewriteRule ^dropcam$ hire-me?id=dropcam
RewriteRule ^google-doodle$ hire-me?id=google-doodle
RewriteRule ^duckduckmoose$ hire-me?id=duckduckmoose
RewriteRule ^ixl-illustration-coordinator$ hire-me?id=ixl-illustration-coordinator
RewriteRule ^facebook-illustrator-designer-cultural-moments$ hire-me?id=facebook-illustrator-designer-cultural-moments
RewriteRule ^humble-bundle-senior-designer$ hire-me?id=humble-bundle-senior-designer
RewriteRule ^facebook-illustrator-designer-messenger$ hire-me?id=facebook-illustrator-designer-messenger
RewriteRule ^eventbrite-senior-designer-brand-communications$ hire-me?id=eventbrite-senior-designer-brand-communications
RewriteRule ^weebly-brand-designer$ hire-me?id=weebly-brand-designer
RewriteRule ^exploratorium-director-of-design$ hire-me?id=exploratorium-director-of-design
RewriteRule ^asana-product-designer$ hire-me?id=asana-product-designer
RewriteRule ^asana-marketing-designer$ hire-me?id=asana-marketing-designer
RewriteRule ^medium-senior-visual-designer$ hire-me?id=medium-senior-visual-designer

RewriteRule ^holiday2014$ http://www.rayuen.com/p/holiday-card/holiday